<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.jypj.dev.dao.InformationDao" >

  <resultMap id="BaseResultMap" type="org.jypj.dev.entity.Information" >
	<id column="ID" property="id" jdbcType="VARCHAR" />
	<result column="PROJECT_ID" property="projectId" jdbcType="VARCHAR" />
	<result column="POSITION_ID" property="positionId" jdbcType="VARCHAR" />
	<result column="SCHOOL_ID" property="schoolId" jdbcType="VARCHAR" />
	<result column="START_DATE" property="startDate" jdbcType="TIMESTAMP" />
	<result column="END_DATE" property="endDate" jdbcType="TIMESTAMP" />
	<result column="SITE" property="site" jdbcType="VARCHAR" />
	<result column="YEAR" property="year" jdbcType="VARCHAR" />
	<result column="STATUS" property="status" jdbcType="VARCHAR" />
	<result column="TYPE" property="type" jdbcType="VARCHAR" />
	<result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
	<result column="MODIFYTIME" property="modifytime" jdbcType="TIMESTAMP" />
	<result column="CREATEUSER" property="createuser" jdbcType="VARCHAR" />
	<result column="MODIFYUSER" property="modifyuser" jdbcType="VARCHAR" />
	<result column="REMARK" property="remark" jdbcType="VARCHAR" />
	<result column="POST_NAME" property="postName" jdbcType="VARCHAR" />
	<result column="THEME" property="theme" jdbcType="VARCHAR" />
	<result column="SCHOOL_NAME" property="schoolName" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
  ID,PROJECT_ID,POSITION_ID,SCHOOL_ID,START_DATE,END_DATE,SITE,YEAR,STATUS,TYPE,CREATETIME,MODIFYTIME,CREATEUSER,MODIFYUSER,REMARK
  </sql>
  
   <insert id="saveInformationByField" parameterType="org.jypj.dev.entity.Information" >
    insert into school_information
    <trim prefix="(" suffix=")" suffixOverrides="," >
   <if test="id != null" >
    ID,
   </if>
   <if test="projectId != null" >
    PROJECT_ID,
   </if>
   <if test="positionId != null" >
    POSITION_ID,
   </if>
   <if test="schoolId != null" >
    SCHOOL_ID,
   </if>
   <if test="startDate != null" >
    START_DATE,
   </if>
   <if test="endDate != null" >
    END_DATE,
   </if>
   <if test="site != null" >
    SITE,
   </if>
   <if test="year != null" >
    YEAR,
   </if>
   <if test="status != null" >
    STATUS,
   </if>
   <if test="type != null" >
    TYPE,
   </if>
   <if test="createtime != null" >
    CREATETIME,
   </if>
   <if test="modifytime != null" >
    MODIFYTIME,
   </if>
   <if test="createuser != null" >
    CREATEUSER,
   </if>
   <if test="modifyuser != null" >
    MODIFYUSER,
   </if>
   <if test="remark != null" >
    REMARK,
   </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      sys_guid(),
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="positionId != null" >
        #{positionId,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="site != null" >
        #{site,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      SYSDATE,
	  SYSDATE,
      <if test="createuser != null" >
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="modifyuser != null" >
        #{modifyuser,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <insert id="saveInformation" parameterType="org.jypj.dev.entity.Information" >
    insert into school_information (
	ID,
	PROJECT_ID,
	POSITION_ID,
	SCHOOL_ID,
	START_DATE,
	END_DATE,
	SITE,
	YEAR,
	STATUS,
	TYPE,
	CREATETIME,
	MODIFYTIME,
	CREATEUSER,
	MODIFYUSER,
	 REMARK
	)
	values (
	SYS_GUID(),
	#{projectId,jdbcType=VARCHAR},
	#{positionId,jdbcType=VARCHAR},
	#{schoolId,jdbcType=VARCHAR},
	#{startDate,jdbcType=TIMESTAMP},
	#{endDate,jdbcType=TIMESTAMP},
	#{site,jdbcType=VARCHAR},
	#{year,jdbcType=VARCHAR},
	#{status,jdbcType=VARCHAR},
	#{type,jdbcType=VARCHAR},
	SYSDATE,
	SYSDATE,
	#{createuser,jdbcType=VARCHAR},
	#{modifyuser,jdbcType=VARCHAR},
	#{remark,jdbcType=VARCHAR}
	)
  </insert>
  
  <delete id="deleteInformationById" parameterType="java.lang.String" >
    delete from school_information
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteInformationByObject" parameterType="org.jypj.dev.entity.Information" >
    delete from school_information
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <update id="updateInformationByField" parameterType="org.jypj.dev.entity.Information" >
    update school_information
    <set >
  	 <if test="id != null" >
  	 ID=#{id,jdbcType=VARCHAR},
  	 </if>
  	 <if test="projectId != null" >
  	 PROJECT_ID=#{projectId,jdbcType=VARCHAR},
  	 </if>
  	 <if test="positionId != null" >
  	 POSITION_ID=#{positionId,jdbcType=VARCHAR},
  	 </if>
  	 <if test="schoolId != null" >
  	 SCHOOL_ID=#{schoolId,jdbcType=VARCHAR},
  	 </if>
  	 <if test="startDate != null" >
  	 START_DATE=#{startDate,jdbcType=DATE},
  	 </if>
  	 <if test="endDate != null" >
  	 END_DATE=#{endDate,jdbcType=DATE},
  	 </if>
  	 <if test="site != null" >
  	 SITE=#{site,jdbcType=VARCHAR},
  	 </if>
  	 <if test="year != null" >
  	 YEAR=#{year,jdbcType=VARCHAR},
  	 </if>
  	 <if test="status != null" >
  	 STATUS=#{status,jdbcType=VARCHAR},
  	 </if>
  	 <if test="type != null" >
  	 TYPE=#{type,jdbcType=VARCHAR},
  	 </if>
  	 <if test="createtime != null" >
  	 CREATETIME=#{createtime,jdbcType=DATE},
  	 </if>
  	 <if test="modifytime != null" >
  	 MODIFYTIME=#{modifytime,jdbcType=DATE},
  	 </if>
  	 <if test="createuser != null" >
  	 CREATEUSER=#{createuser,jdbcType=VARCHAR},
  	 </if>
  	 <if test="modifyuser != null" >
  	 MODIFYUSER=#{modifyuser,jdbcType=VARCHAR},
  	 </if>
     <if test="remark != null" >
  	 REMARK=#{remark,jdbcType=VARCHAR}
  	 </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="updateInformation" parameterType="org.jypj.dev.entity.Information" >
    update school_information
    <set >
	 ID=#{id,jdbcType=VARCHAR},
	 PROJECT_ID=#{projectId,jdbcType=VARCHAR},
	 POSITION_ID=#{positionId,jdbcType=VARCHAR},
	 SCHOOL_ID=#{schoolId,jdbcType=VARCHAR},
	 START_DATE=#{startDate,jdbcType=TIMESTAMP},
	 END_DATE=#{endDate,jdbcType=TIMESTAMP},
	 SITE=#{site,jdbcType=VARCHAR},
	 YEAR=#{year,jdbcType=VARCHAR},
	 STATUS=#{status,jdbcType=VARCHAR},
	 TYPE=#{type,jdbcType=VARCHAR},
	 MODIFYTIME=SYSDATE,
	 CREATEUSER=#{createuser,jdbcType=VARCHAR},
	 MODIFYUSER=#{modifyuser,jdbcType=VARCHAR},
	 REMARK=#{remark,jdbcType=VARCHAR}
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="selectInformationById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from school_information
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectOnePageByMap" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select t.THEME,r.POST_NAME,(select TEXT from SYS_DICTIONARY where ID=i.SCHOOL_ID) as SCHOOL_NAME,i.*
    	from school_information i 
    	left join recruit_postset r on i.POSITION_ID=r.ID 
    	left join RECRUIT_THEME t on t.ID=i.PROJECT_ID 
    where 1=1  
    <if test="schoolId !=null and schoolId !='' ">
    	and i.SCHOOL_ID=#{schoolId,jdbcType=VARCHAR}
    </if>
    <if test="type !=null and type !='' ">
    	and i.TYPE=#{type,jdbcType=VARCHAR}
    </if>
    <if test="projectId !=null and projectId !='' ">
    	and i.PROJECT_ID=#{projectId,jdbcType=VARCHAR}
    </if>
    <if test="year !=null and year !='' ">
    	and to_char(t.CREATETIME,'yyyy')=#{year,jdbcType=VARCHAR}
    </if>
    order by i.SCHOOL_ID asc,i.CREATETIME desc,i.id asc
  </select> 
  
  <select id="selectOnePageByInformation" resultMap="BaseResultMap" parameterType="org.jypj.dev.entity.Information" >
    select 
    <include refid="Base_Column_List" />
    from school_information
    where 1=1 
	 <if test="id != null and id !='' ">
	  and ID=#{id,jdbcType=VARCHAR}
	 </if>
	 <if test="projectId != null and projectId !='' ">
	  and PROJECT_ID=#{projectId,jdbcType=VARCHAR}
	 </if>
	 <if test="positionId != null and positionId !='' ">
	  and POSITION_ID=#{positionId,jdbcType=VARCHAR}
	 </if>
	 <if test="schoolId != null and schoolId !='' ">
	  and SCHOOL_ID=#{schoolId,jdbcType=VARCHAR}
	 </if>
	 <if test="startDate != null and startDate !='' ">
	  and START_DATE=#{startDate,jdbcType=DATE}
	 </if>
	 <if test="endDate != null and endDate !='' ">
	  and END_DATE=#{endDate,jdbcType=DATE}
	 </if>
	 <if test="site != null and site !='' ">
	  and SITE=#{site,jdbcType=VARCHAR}
	 </if>
	 <if test="year != null and year !='' ">
	  and YEAR=#{year,jdbcType=VARCHAR}
	 </if>
	 <if test="status != null and status !='' ">
	  and STATUS=#{status,jdbcType=VARCHAR}
	 </if>
	 <if test="type != null and type !='' ">
	  and TYPE=#{type,jdbcType=VARCHAR}
	 </if>
	 <if test="createtime != null and createtime !='' ">
	  and CREATETIME=#{createtime,jdbcType=DATE}
	 </if>
	 <if test="modifytime != null and modifytime !='' ">
	  and MODIFYTIME=#{modifytime,jdbcType=DATE}
	 </if>
	 <if test="createuser != null and createuser !='' ">
	  and CREATEUSER=#{createuser,jdbcType=VARCHAR}
	 </if>
	 <if test="modifyuser != null and modifyuser !='' ">
	  and MODIFYUSER=#{modifyuser,jdbcType=VARCHAR}
	 </if>
	 <if test="remark != null and remark !='' ">
	  and REMARK=#{remark,jdbcType=VARCHAR}
	 </if>
  </select> 
  
   <select id="selectAllByMap" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from school_information
    where 1=1 
  </select> 
  
   <select id="selectAllByInformation" resultMap="BaseResultMap" parameterType="org.jypj.dev.entity.Information" >
    select 
    <include refid="Base_Column_List" />
    from school_information
    where 1=1 
	 <if test="id != null and id !='' ">
	  and ID=#{id,jdbcType=VARCHAR}
	 </if>
	 <if test="projectId != null and projectId !='' ">
	  and PROJECT_ID=#{projectId,jdbcType=VARCHAR}
	 </if>
	 <if test="positionId != null and positionId !='' ">
	  and POSITION_ID=#{positionId,jdbcType=VARCHAR}
	 </if>
	 <if test="schoolId != null and schoolId !='' ">
	  and SCHOOL_ID=#{schoolId,jdbcType=VARCHAR}
	 </if>
	 <if test="startDate != null and startDate !='' ">
	  and START_DATE=#{startDate,jdbcType=DATE}
	 </if>
	 <if test="endDate != null and endDate !='' ">
	  and END_DATE=#{endDate,jdbcType=DATE}
	 </if>
	 <if test="site != null and site !='' ">
	  and SITE=#{site,jdbcType=VARCHAR}
	 </if>
	 <if test="year != null and year !='' ">
	  and YEAR=#{year,jdbcType=VARCHAR}
	 </if>
	 <if test="status != null and status !='' ">
	  and STATUS=#{status,jdbcType=VARCHAR}
	 </if>
	 <if test="type != null and type !='' ">
	  and TYPE=#{type,jdbcType=VARCHAR}
	 </if>
	 <if test="createtime != null and createtime !='' ">
	  and CREATETIME=#{createtime,jdbcType=DATE}
	 </if>
	 <if test="modifytime != null and modifytime !='' ">
	  and MODIFYTIME=#{modifytime,jdbcType=DATE}
	 </if>
	 <if test="createuser != null and createuser !='' ">
	  and CREATEUSER=#{createuser,jdbcType=VARCHAR}
	 </if>
	 <if test="modifyuser != null and modifyuser !='' ">
	  and MODIFYUSER=#{modifyuser,jdbcType=VARCHAR}
	 </if>
	 <if test="remark != null and remark !='' ">
	  and REMARK=#{remark,jdbcType=VARCHAR}
	 </if>
  </select> 
  
   <select id="selectObjectByMap" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from school_information
    where 1=1 
   </select> 
  
  <select id="selectObjectByInformation" resultMap="BaseResultMap" parameterType="org.jypj.dev.entity.Information" >
    select 
    <include refid="Base_Column_List" />
    from school_information
    where 1=1 
	 <if test="id != null and id !='' ">
	  and ID=#{id,jdbcType=VARCHAR}
	 </if>
	 <if test="projectId != null and projectId !='' ">
	  and PROJECT_ID=#{projectId,jdbcType=VARCHAR}
	 </if>
	 <if test="positionId != null and positionId !='' ">
	  and POSITION_ID=#{positionId,jdbcType=VARCHAR}
	 </if>
	 <if test="schoolId != null and schoolId !='' ">
	  and SCHOOL_ID=#{schoolId,jdbcType=VARCHAR}
	 </if>
	 <if test="startDate != null and startDate !='' ">
	  and START_DATE=#{startDate,jdbcType=DATE}
	 </if>
	 <if test="endDate != null and endDate !='' ">
	  and END_DATE=#{endDate,jdbcType=DATE}
	 </if>
	 <if test="site != null and site !='' ">
	  and SITE=#{site,jdbcType=VARCHAR}
	 </if>
	 <if test="year != null and year !='' ">
	  and YEAR=#{year,jdbcType=VARCHAR}
	 </if>
	 <if test="status != null and status !='' ">
	  and STATUS=#{status,jdbcType=VARCHAR}
	 </if>
	 <if test="type != null and type !='' ">
	  and TYPE=#{type,jdbcType=VARCHAR}
	 </if>
	 <if test="createtime != null and createtime !='' ">
	  and CREATETIME=#{createtime,jdbcType=DATE}
	 </if>
	 <if test="modifytime != null and modifytime !='' ">
	  and MODIFYTIME=#{modifytime,jdbcType=DATE}
	 </if>
	 <if test="createuser != null and createuser !='' ">
	  and CREATEUSER=#{createuser,jdbcType=VARCHAR}
	 </if>
	 <if test="modifyuser != null and modifyuser !='' ">
	  and MODIFYUSER=#{modifyuser,jdbcType=VARCHAR}
	 </if>
	 <if test="remark != null and remark !='' ">
	  and REMARK=#{remark,jdbcType=VARCHAR}
	 </if>
  </select> 
  
  <delete id="deleteList" parameterType="list">
  	DELETE FROM school_information WHERE STATUS='0' 
  	<if test="list !=null">
		AND ID IN 
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</if>
  </delete>
</mapper>