<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.jypj.dev.dao.ScoreGradeTrialDao" >

  <resultMap id="BaseResultMap" type="org.jypj.dev.entity.ScoreGradeTrial" >
	<id column="ID" property="id" jdbcType="VARCHAR" />
	<result column="STUDENT_ID" property="studentId" jdbcType="VARCHAR" />
	<result column="GRADE" property="grade" jdbcType="VARCHAR" />
	<result column="PROJECT_ID" property="projectId" jdbcType="VARCHAR" />
	<result column="POSITION_ID" property="positionId" jdbcType="VARCHAR" />
	<result column="SCHOOL_ID" property="schoolId" jdbcType="VARCHAR" />
	<result column="SCORE_PUBLISH_STATUS" property="scorePublishStatus" jdbcType="VARCHAR" />
	<result column="LIST_PUBLISH_STATUS" property="listPublishStatus" jdbcType="VARCHAR" />
	<result column="TYPE" property="type" jdbcType="VARCHAR" />
	<result column="SUBJECT_TYPE" property="subjectType" jdbcType="VARCHAR" />
	<result column="IS_RESET" property="isReset" jdbcType="VARCHAR" />
	<result column="CREATETIME" property="createtime" jdbcType="DATE" />
	<result column="MODIFYTIME" property="modifytime" jdbcType="DATE" />
	<result column="CREATEUSER" property="createuser" jdbcType="VARCHAR" />
	<result column="MODIFYUSER" property="modifyuser" jdbcType="VARCHAR" />
	<result column="REMARK" property="remark" jdbcType="VARCHAR" />
	<result column="postNum" property="postNum" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
  ID,STUDENT_ID,GRADE,PROJECT_ID,POSITION_ID,SCHOOL_ID,SCORE_PUBLISH_STATUS,LIST_PUBLISH_STATUS,TYPE,SUBJECT_TYPE,IS_RESET,CREATETIME,MODIFYTIME,CREATEUSER,MODIFYUSER,REMARK
  </sql>
  
   <insert id="saveScoreGradeTrialByField" parameterType="org.jypj.dev.entity.ScoreGradeTrial" >
    insert into score_grade_trial
    <trim prefix="(" suffix=")" suffixOverrides="," >
   <if test="id != null" >
    ID,
   </if>
   <if test="studentId != null" >
    STUDENT_ID,
   </if>
   <if test="grade != null" >
    GRADE,
   </if>
   <if test="projectId != null" >
    PROJECT_ID,
   </if>
   <if test="positionId != null" >
    POSITION_ID,
   </if>
   <if test="schoolId != null" >
    SCHOOL_ID,
   </if>
   <if test="scorePublishStatus != null" >
    SCORE_PUBLISH_STATUS,
   </if>
   <if test="listPublishStatus != null" >
    LIST_PUBLISH_STATUS,
   </if>
   <if test="type != null" >
    TYPE,
   </if>
   <if test="subjectType != null" >
    SUBJECT_TYPE,
   </if>
   <if test="isReset != null" >
    IS_RESET,
   </if>
   <if test="createtime != null" >
    CREATETIME,
   </if>
   <if test="modifytime != null" >
    MODIFYTIME,
   </if>
   <if test="createuser != null" >
    CREATEUSER,
   </if>
   <if test="modifyuser != null" >
    MODIFYUSER,
   </if>
   <if test="remark != null" >
    REMARK,
   </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="positionId != null" >
        #{positionId,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=VARCHAR},
      </if>
      <if test="scorePublishStatus != null" >
        #{scorePublishStatus,jdbcType=VARCHAR},
      </if>
      <if test="listPublishStatus != null" >
        #{listPublishStatus,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="subjectType != null" >
        #{subjectType,jdbcType=VARCHAR},
      </if>
      <if test="isReset != null" >
        #{isReset,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=DATE},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=DATE},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="modifyuser != null" >
        #{modifyuser,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <insert id="saveScoreGradeTrial" parameterType="org.jypj.dev.entity.ScoreGradeTrial" >
    insert into score_grade_trial (
	ID,
	STUDENT_ID,
	GRADE,
	PROJECT_ID,
	POSITION_ID,
	SCHOOL_ID,
	SCORE_PUBLISH_STATUS,
	LIST_PUBLISH_STATUS,
	TYPE,
	SUBJECT_TYPE,
	IS_RESET,
	CREATETIME,
	MODIFYTIME,
	CREATEUSER,
	MODIFYUSER,
	 REMARK
	)
	values (
	#{id,jdbcType=VARCHAR},
	#{studentId,jdbcType=VARCHAR},
	#{grade,jdbcType=VARCHAR},
	#{projectId,jdbcType=VARCHAR},
	#{positionId,jdbcType=VARCHAR},
	#{schoolId,jdbcType=VARCHAR},
	#{scorePublishStatus,jdbcType=VARCHAR},
	#{listPublishStatus,jdbcType=VARCHAR},
	#{type,jdbcType=VARCHAR},
	#{subjectType,jdbcType=VARCHAR},
	#{isReset,jdbcType=VARCHAR},
	#{createtime,jdbcType=DATE},
	#{modifytime,jdbcType=DATE},
	#{createuser,jdbcType=VARCHAR},
	#{modifyuser,jdbcType=VARCHAR},
	#{remark,jdbcType=VARCHAR}
	)
  </insert>
  
  <!--将统一试讲入围名单批量插入统一试讲成绩表-->
  <insert id="saveTrialGradesList" parameterType="list" >
    insert into score_grade_trial (
	ID,
	STUDENT_ID,
	GRADE,
	PROJECT_ID,
	POSITION_ID,
	SCHOOL_ID,
	SCORE_PUBLISH_STATUS,
	LIST_PUBLISH_STATUS,
	TYPE,
	SUBJECT_TYPE,
	IS_RESET,
	CREATETIME,
	MODIFYTIME,
	CREATEUSER,
	MODIFYUSER,
	 REMARK
	)
	<foreach collection="list" item="item" index="index" open="(" separator="union all" close=")" >  
	select sys_guid(),
	#{item.studentId,jdbcType=VARCHAR},
	#{item.grade,jdbcType=VARCHAR},
	#{item.projectId,jdbcType=VARCHAR},
	#{item.positionId,jdbcType=VARCHAR},
	#{item.schoolId,jdbcType=VARCHAR},
	#{item.scorePublishStatus,jdbcType=VARCHAR},
	#{item.listPublishStatus,jdbcType=VARCHAR},
	#{item.type,jdbcType=VARCHAR},
	#{item.subjectType,jdbcType=VARCHAR},
	#{item.isReset,jdbcType=VARCHAR},
	#{item.createtime,jdbcType=DATE},
	#{item.modifytime,jdbcType=DATE},
	#{item.createuser,jdbcType=VARCHAR},
	#{item.modifyuser,jdbcType=VARCHAR},
	#{item.remark,jdbcType=VARCHAR}
	from dual
	</foreach> 
  </insert>
  
  <!--批量更新入围名单-->
  <update id="updateTrialList" parameterType="list">
  		<foreach collection="list" item="item" index="index" open="begin" close="end;" separator="" > 
	        update score_grade_trial 
	        <set>
	        	 <if test="item.modifyuser != null and item.modifyuser !='' ">
				   	MODIFYUSER=#{item.modifyuser,jdbcType=VARCHAR},
				 </if>
				 <if test="item.grade != null and item.grade !='' ">
				   	GRADE=#{item.grade,jdbcType=VARCHAR},
				 </if>
				 <if test="item.remark != null and item.remark !='' ">
				   	REMARK=#{item.remark,jdbcType=VARCHAR},
				 </if>
				 <!--<if test="item.isReset != null and item.isReset !='' ">  -->
				   	IS_RESET=#{item.isReset,jdbcType=VARCHAR},
				 <!-- </if> -->
				 <if test="item.scorePublishStatus != null and item.scorePublishStatus !='' ">
				   	SCORE_PUBLISH_STATUS=#{item.scorePublishStatus,jdbcType=VARCHAR},
				 </if>
	        	MODIFYTIME=systimeStamp
	        </set>
	        where ID = #{item.id,jdbcType=VARCHAR};
       </foreach>
  </update>
  
  <select id="selectGradeTrialCount" resultType="Integer" parameterType="java.util.Map" >
    select count(*) from score_grade_trial t where 1=1
	<!-- <if test="year != null and year !='' ">
	  and to_char(t.CREATETIME,'yyyy')=#{year,jdbcType=VARCHAR}
	</if>  -->
  	<if test="projectId != null and projectId !='' ">
	  and t.PROJECT_ID=#{projectId,jdbcType=VARCHAR}
	</if>
	<if test="testType != null and testType !='' ">
	  and t.TYPE=#{testType,jdbcType=VARCHAR}
	</if>
	<if test="subjectType != null and subjectType !='' ">
	  and t.SUBJECT_TYPE=#{subjectType,jdbcType=VARCHAR}
	</if>
  </select>
  
  <!-- 查询按照分数线进入体检的名单 -->
  <select id="selectGradeTrialLine" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select * from score_grade_trial t where 1=1
	<!-- <if test="year != null and year !='' ">
	  and to_char(t.CREATETIME,'yyyy')=#{year,jdbcType=VARCHAR}
	</if>  -->
  	<if test="projectId != null and projectId !='' ">
	  and t.PROJECT_ID=#{projectId,jdbcType=VARCHAR}
	</if>
	<if test="testType != null and testType !='' ">
	  and t.TYPE=#{testType,jdbcType=VARCHAR}
	</if>
	<if test="subjectType != null and subjectType !='' ">
	  and t.SUBJECT_TYPE=#{subjectType,jdbcType=VARCHAR}
	</if>
	<!-- <if test="trialLine != null and trialLine !='' ">
	  <![CDATA[ and t.GRADE>=#{trialLine,jdbcType=VARCHAR} ]]>
	</if>
	<if test="proCount != null and proCount !='' ">
	  <![CDATA[ and rownum <=#{proCount,jdbcType=VARCHAR} ]]>
	  order by t.GRADE desc
	</if> -->
  </select>
  
  <delete id="deleteScoreGradeTrialById" parameterType="java.lang.String" >
    delete from score_grade_trial
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteScoreGradeTrialByObject" parameterType="org.jypj.dev.entity.ScoreGradeTrial" >
    delete from score_grade_trial
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <select id="selectCountByMap" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select count(1) from score_grade_trial where 1=1
    <if test="projectId != null and projectId !=''">
    	and PROJECT_ID=#{projectId,jdbcType=VARCHAR}
    </if>
    <!--成绩发布状态-->
    <if test="scoreStatus != null and scoreStatus !=''">
    	and SCORE_PUBLISH_STATUS=#{scoreStatus,jdbcType=VARCHAR}
    </if>
    <!--学科类别-->
    <if test="subjectType != null and subjectType !=''">
    	and SUBJECT_TYPE=#{subjectType,jdbcType=VARCHAR}
    </if>
  </select>
  
  <update id="updateScoreGradeTrialByField" parameterType="org.jypj.dev.entity.ScoreGradeTrial" >
    update score_grade_trial
    <set >
  	 <if test="id != null" >
  	 ID=#{id,jdbcType=VARCHAR},
  	 </if>
  	 <if test="studentId != null" >
  	 STUDENT_ID=#{studentId,jdbcType=VARCHAR},
  	 </if>
  	 <if test="grade != null" >
  	 GRADE=#{grade,jdbcType=VARCHAR},
  	 </if>
  	 <if test="projectId != null" >
  	 PROJECT_ID=#{projectId,jdbcType=VARCHAR},
  	 </if>
  	 <if test="positionId != null" >
  	 POSITION_ID=#{positionId,jdbcType=VARCHAR},
  	 </if>
  	 <if test="schoolId != null" >
  	 SCHOOL_ID=#{schoolId,jdbcType=VARCHAR},
  	 </if>
  	 <if test="scorePublishStatus != null" >
  	 SCORE_PUBLISH_STATUS=#{scorePublishStatus,jdbcType=VARCHAR},
  	 </if>
  	 <if test="listPublishStatus != null" >
  	 LIST_PUBLISH_STATUS=#{listPublishStatus,jdbcType=VARCHAR},
  	 </if>
  	 <if test="type != null" >
  	 TYPE=#{type,jdbcType=VARCHAR},
  	 </if>
  	 <if test="subjectType != null" >
  	 SUBJECT_TYPE=#{subjectType,jdbcType=VARCHAR},
  	 </if>
  	 <if test="isReset != null" >
  	 IS_RESET=#{isReset,jdbcType=VARCHAR},
  	 </if>
  	 <if test="createtime != null" >
  	 CREATETIME=#{createtime,jdbcType=DATE},
  	 </if>
  	 <if test="modifytime != null" >
  	 MODIFYTIME=#{modifytime,jdbcType=DATE},
  	 </if>
  	 <if test="createuser != null" >
  	 CREATEUSER=#{createuser,jdbcType=VARCHAR},
  	 </if>
  	 <if test="modifyuser != null" >
  	 MODIFYUSER=#{modifyuser,jdbcType=VARCHAR},
  	 </if>
     <if test="remark != null" >
  	 REMARK=#{remark,jdbcType=VARCHAR}
  	 </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="updateScoreGradeTrial" parameterType="org.jypj.dev.entity.ScoreGradeTrial" >
    update score_grade_trial
    <set >
	 ID=#{id,jdbcType=VARCHAR},
	 STUDENT_ID=#{studentId,jdbcType=VARCHAR},
	 GRADE=#{grade,jdbcType=VARCHAR},
	 PROJECT_ID=#{projectId,jdbcType=VARCHAR},
	 POSITION_ID=#{positionId,jdbcType=VARCHAR},
	 SCHOOL_ID=#{schoolId,jdbcType=VARCHAR},
	 SCORE_PUBLISH_STATUS=#{scorePublishStatus,jdbcType=VARCHAR},
	 LIST_PUBLISH_STATUS=#{listPublishStatus,jdbcType=VARCHAR},
	 TYPE=#{type,jdbcType=VARCHAR},
	 SUBJECT_TYPE=#{subjectType,jdbcType=VARCHAR},
	 IS_RESET=#{isReset,jdbcType=VARCHAR},
	 CREATETIME=#{createtime,jdbcType=DATE},
	 MODIFYTIME=#{modifytime,jdbcType=DATE},
	 CREATEUSER=#{createuser,jdbcType=VARCHAR},
	 MODIFYUSER=#{modifyuser,jdbcType=VARCHAR},
	 REMARK=#{remark,jdbcType=VARCHAR}
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!--(导入)批量更新统一试讲成绩表-->
  <update id="updateTrialBatchs" parameterType="list">
		<foreach collection="list" item="item" index="index" open="begin" close="end;" separator="" >
	        update score_grade_trial t 
	        <set>
	        	<if test="item.grade != null and item.grade !='' " >
			    	t.GRADE=#{item.grade,jdbcType=VARCHAR},
			    </if>
	        	<if test="item.modifyuser != null and item.modifyuser !='' " >
		        	t.MODIFYUSER=#{item.modifyuser,jdbcType=VARCHAR},
			    </if>
	        	t.MODIFYTIME=systimeStamp 
	        </set>
	        where 1=1 
	        	AND t.PROJECT_ID = #{item.projectId,jdbcType=VARCHAR}
				<if test="item.postName != null and item.postName !='' " >
	        	AND EXISTS (select 1 from SCHOOL_PLAN_APPLY t inner join SCHOOL_POSITION p on t.ID=p.PLAN_APPLY_ID  inner join RECRUIT_POSTSET r on r.ID=p.STATION_ID 
				where 1=1 and t.STATUS='2' and p.STATUS='1'AND r.POST_NAME=#{item.postName,jdbcType=VARCHAR}) 
	        	</if>
	        	AND EXISTS (SELECT 1 FROM STUDENT_INFO S WHERE S.EMPLOY_ITEMS_ID=t.PROJECT_ID AND t.STUDENT_ID=S.ID AND S.TICKETNUM=#{item.ticketnum,jdbcType=VARCHAR} 
	        	<if test="item.name != null and item.name !='' " >
	        		AND S.NAME=#{item.name,jdbcType=VARCHAR}
	        	</if>
	        	);
       </foreach>
	</update>
  
  <select id="selectScoreGradeTrialById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from score_grade_trial
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
 <select id="selectOnePageByMap" resultType="org.jypj.dev.vo.ScoreEntersOutVo" parameterType="java.util.Map" >
   <!-- select t.ID as id ,nvl(t.GRADE,0.0) as score,s.NAME as studentName,s.SEX as sex,s.TICKETNUM as ticketNum,s.ID as studentId from score_grade_trial t 
    inner join STUDENT_INFO s on t.STUDENT_ID=s.ID where 1=1
	 <if test="year != null and year !='' ">
	  and to_char(t.CREATETIME,'yyyy')=#{year,jdbcType=VARCHAR}
	</if>  -->
	select t.ID as id ,nvl(t.GRADE,0.0) as score,s.NAME as studentName,s.SEX as sex,s.TICKETNUM as ticketNum,s.ID as studentId ,d.TEXT as school
	from score_grade_trial t 
    left join STUDENT_INFO s on t.STUDENT_ID=s.ID left join SYS_DICTIONARY d on t.SCHOOL_ID=d.ID where 1=1
  	<if test="projectId != null and projectId !='' ">
	  and t.PROJECT_ID=#{projectId,jdbcType=VARCHAR}
	</if>
	<if test="testType != null and testType !='' ">
	  and t.TYPE=#{testType,jdbcType=VARCHAR}
	</if>
	<if test="postId != null and postId !='' ">
	  and t.POSITION_ID=#{postId,jdbcType=VARCHAR}
	</if>
	<if test="isScore != null and isScore !='' ">
	  and t.SCORE_PUBLISH_STATUS=#{isScore,jdbcType=VARCHAR}
	</if>
	<if test="nameOrNum != null and nameOrNum !='' ">
	  and (s.NAME like concat(concat('%',#{nameOrNum,jdbcType=VARCHAR}),'%') 
	  or s.TICKETNUM like concat(concat('%',#{nameOrNum,jdbcType=VARCHAR}),'%'))
	</if>
	order by t.SCHOOL_ID,to_number(t.GRADE) desc,t.ID
  </select> 
  
  <select id="selectScoreSyns" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select t.id as id,t.positionId as positionId,t.projectId as projectId,
    t.studentId as studentId,t.schoolId as schoolId from 
    (select t.id as id,t.POSITION_ID as positionId,t.PROJECT_ID as projectId,t.STUDENT_ID as studentId,t.SCHOOL_ID as schoolId from SCORE_GRADE_TRIAL t inner join 
    SCORE_GRADE_WRITTEN s on t.STUDENT_ID=s.STUDENT_ID
    left join STUDENT_INFO g on t.STUDENT_ID=g.ID where 1=1 and g.PROFESSIONAL_COURSE='0' and g.FREE_STUDENT='0' 
    and (<![CDATA[t.GRADE < #{trialline,jdbcType=VARCHAR} or s.GRADE < #{writienline,jdbcType=VARCHAR}]]>) union  
    select t.id as id,t.POSITION_ID as positionId,t.PROJECT_ID as projectId,t.STUDENT_ID as studentId,t.SCHOOL_ID as schoolId from SCORE_GRADE_TRIAL t 
    left join SCORE_GRADE_WRITTEN s on t.STUDENT_ID=s.STUDENT_ID
    left join STUDENT_INFO g on t.STUDENT_ID=g.ID where 1=1 and (g.PROFESSIONAL_COURSE='1' or g.FREE_STUDENT='1') <![CDATA[and t.GRADE < #{trialline,jdbcType=VARCHAR}]]>) t 
    where 1=1
  	<if test="projectId != null and projectId !='' ">
	  and t.projectId=#{projectId,jdbcType=VARCHAR}
	</if>
	order by t.studentId
  </select>
  
   <select id="selectScoreSpecial" resultMap="BaseResultMap" >
    <!--select t.grade as grade,t.isReset as isReset,t.remark as remark,t.positionId as positionId,t.projectId as projectId,
    t.studentId as studentId,t.schoolId as schoolId from 
    (select t.GRADE as grade ,s.GRADE as isReset,<![CDATA[nvl(((s.GRADE*0.3)+(t.GRADE*0.7)),0.0)]]> as remark,t.POSITION_ID as positionId,
    t.PROJECT_ID as projectId,t.STUDENT_ID as studentId,t.SCHOOL_ID as schoolId from SCORE_GRADE_TRIAL t left join 
    SCORE_GRADE_WRITTEN s on t.STUDENT_ID=s.STUDENT_ID
    left join STUDENT_INFO g on t.STUDENT_ID=g.ID where 1=1 and g.PROFESSIONAL_COURSE='0' and g.FREE_STUDENT='0' 
    <![CDATA[and t.GRADE >= #{trialline,jdbcType=VARCHAR} and s.GRADE >=#{writienline,jdbcType=VARCHAR}]]> union  
    select t.GRADE as grade ,s.GRADE as isReset,<![CDATA[nvl((t.GRADE*1.0),0.0)]]> as remark,t.POSITION_ID as positionId, 
    t.PROJECT_ID as projectId,
    t.STUDENT_ID as studentId,t.SCHOOL_ID as schoolId from SCORE_GRADE_TRIAL t left join SCORE_GRADE_WRITTEN s on t.STUDENT_ID=s.STUDENT_ID
    left join STUDENT_INFO g on t.STUDENT_ID=g.ID where 1=1 
    and g.PROFESSIONAL_COURSE='1' or g.FREE_STUDENT='1' <![CDATA[and t.GRADE >= #{trialline,jdbcType=VARCHAR}]]>) t 
    where 1=1   -->
   	select t.id as id,t.grade as grade,t.isReset as isReset,t.remark as remark,t.positionId as positionId,t.projectId as projectId,
    t.studentId as studentId,t.schoolId as schoolId from 
    (select t.id as id, nvl(t.GRADE,0) as grade ,nvl(s.GRADE,0) as isReset,<![CDATA[nvl(round(((to_number(s.GRADE)*0.3)+(to_number(t.GRADE*0.7))),2),0.0)]]> as remark,t.POSITION_ID as positionId,
    t.PROJECT_ID as projectId,t.STUDENT_ID as studentId,t.SCHOOL_ID as schoolId from SCORE_GRADE_TRIAL t inner join 
    SCORE_GRADE_WRITTEN s on t.STUDENT_ID=s.STUDENT_ID
    left join STUDENT_INFO g on t.STUDENT_ID=g.ID where 1=1 and g.PROFESSIONAL_COURSE='0' and g.FREE_STUDENT='0' 
    <![CDATA[and t.GRADE >= #{trialline,jdbcType=VARCHAR} and s.GRADE >=#{writienline,jdbcType=VARCHAR}]]> union  
    select t.id as id, nvl(t.GRADE,0) as grade ,nvl(s.GRADE,0) as isReset,<![CDATA[nvl((to_number(t.GRADE)*1.0),0.0)]]> as remark,t.POSITION_ID as positionId, 
    t.PROJECT_ID as projectId,
    t.STUDENT_ID as studentId,t.SCHOOL_ID as schoolId from SCORE_GRADE_TRIAL t left join SCORE_GRADE_WRITTEN s on t.STUDENT_ID=s.STUDENT_ID
    left join STUDENT_INFO g on t.STUDENT_ID=g.ID where 1=1 
    and (g.PROFESSIONAL_COURSE='1' or g.FREE_STUDENT='1') <![CDATA[and t.GRADE >= #{trialline,jdbcType=VARCHAR}]]>) t  
    where 1=1
    
  	<if test="projectId != null and projectId !='' ">
	  and t.projectId=#{projectId,jdbcType=VARCHAR}
	</if>
	<if test="position!= null and position !='' ">
	  and t.positionId=#{position,jdbcType=VARCHAR}
	</if>
	 order by to_number(t.remark),t.positionId
  </select>
  
  <!-- 查询岗位数量 -->
  <select id="selectPostNum" resultType="org.jypj.dev.vo.ScorePostNumVo" parameterType="java.util.Map">
    select p.SUBJECT_APPROVE_COUNT as postNum,p.STATION_ID as positionId,p.PROJECT_ID as projectId,p.SCHOOL_ID as schoolId 
    from SCHOOL_POSITION p where 1=1 and p.STATUS='1'
  	<if test="projectId != null and projectId !='' ">
	  and p.PROJECT_ID=#{projectId,jdbcType=VARCHAR}
	</if>
	
  </select>
  
  <select id="selectOnePageByScoreGradeTrial" resultMap="BaseResultMap" parameterType="org.jypj.dev.entity.ScoreGradeTrial" >
    select 
    <include refid="Base_Column_List" />
    from score_grade_trial
    where 1=1 
	 <if test="id != null and id !='' ">
	  and ID=#{id,jdbcType=VARCHAR}
	 </if>
	 <if test="studentId != null and studentId !='' ">
	  and STUDENT_ID=#{studentId,jdbcType=VARCHAR}
	 </if>
	 <if test="grade != null and grade !='' ">
	  and GRADE=#{grade,jdbcType=VARCHAR}
	 </if>
	 <if test="projectId != null and projectId !='' ">
	  and PROJECT_ID=#{projectId,jdbcType=VARCHAR}
	 </if>
	 <if test="positionId != null and positionId !='' ">
	  and POSITION_ID=#{positionId,jdbcType=VARCHAR}
	 </if>
	 <if test="schoolId != null and schoolId !='' ">
	  and SCHOOL_ID=#{schoolId,jdbcType=VARCHAR}
	 </if>
	 <if test="scorePublishStatus != null and scorePublishStatus !='' ">
	  and SCORE_PUBLISH_STATUS=#{scorePublishStatus,jdbcType=VARCHAR}
	 </if>
	 <if test="listPublishStatus != null and listPublishStatus !='' ">
	  and LIST_PUBLISH_STATUS=#{listPublishStatus,jdbcType=VARCHAR}
	 </if>
	 <if test="type != null and type !='' ">
	  and TYPE=#{type,jdbcType=VARCHAR}
	 </if>
	 <if test="subjectType != null and subjectType !='' ">
	  and SUBJECT_TYPE=#{subjectType,jdbcType=VARCHAR}
	 </if>
	 <if test="isReset != null and isReset !='' ">
	  and IS_RESET=#{isReset,jdbcType=VARCHAR}
	 </if>
	 <if test="createtime != null and createtime !='' ">
	  and CREATETIME=#{createtime,jdbcType=DATE}
	 </if>
	 <if test="modifytime != null and modifytime !='' ">
	  and MODIFYTIME=#{modifytime,jdbcType=DATE}
	 </if>
	 <if test="createuser != null and createuser !='' ">
	  and CREATEUSER=#{createuser,jdbcType=VARCHAR}
	 </if>
	 <if test="modifyuser != null and modifyuser !='' ">
	  and MODIFYUSER=#{modifyuser,jdbcType=VARCHAR}
	 </if>
	 <if test="remark != null and remark !='' ">
	  and REMARK=#{remark,jdbcType=VARCHAR}
	 </if>
  </select> 
  
   <select id="selectAllByMap" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from score_grade_trial
    where 1=1 
  </select> 
  
  <select id="selectTrialByMap" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from score_grade_trial
    where 1=1 
    <if test="ids != null and ids !=''">
    	 AND ID IN 
		<foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
    </if>
  </select>
  
   <select id="selectAllByScoreGradeTrial" resultMap="BaseResultMap" parameterType="org.jypj.dev.entity.ScoreGradeTrial" >
    select 
    <include refid="Base_Column_List" />
    from score_grade_trial
    where 1=1 
	 <if test="id != null and id !='' ">
	  and ID=#{id,jdbcType=VARCHAR}
	 </if>
	 <if test="studentId != null and studentId !='' ">
	  and STUDENT_ID=#{studentId,jdbcType=VARCHAR}
	 </if>
	 <if test="grade != null and grade !='' ">
	  and GRADE=#{grade,jdbcType=VARCHAR}
	 </if>
	 <if test="projectId != null and projectId !='' ">
	  and PROJECT_ID=#{projectId,jdbcType=VARCHAR}
	 </if>
	 <if test="positionId != null and positionId !='' ">
	  and POSITION_ID=#{positionId,jdbcType=VARCHAR}
	 </if>
	 <if test="schoolId != null and schoolId !='' ">
	  and SCHOOL_ID=#{schoolId,jdbcType=VARCHAR}
	 </if>
	 <if test="scorePublishStatus != null and scorePublishStatus !='' ">
	  and SCORE_PUBLISH_STATUS=#{scorePublishStatus,jdbcType=VARCHAR}
	 </if>
	 <if test="listPublishStatus != null and listPublishStatus !='' ">
	  and LIST_PUBLISH_STATUS=#{listPublishStatus,jdbcType=VARCHAR}
	 </if>
	 <if test="type != null and type !='' ">
	  and TYPE=#{type,jdbcType=VARCHAR}
	 </if>
	 <if test="subjectType != null and subjectType !='' ">
	  and SUBJECT_TYPE=#{subjectType,jdbcType=VARCHAR}
	 </if>
	 <if test="isReset != null and isReset !='' ">
	  and IS_RESET=#{isReset,jdbcType=VARCHAR}
	 </if>
	 <if test="createtime != null and createtime !='' ">
	  and CREATETIME=#{createtime,jdbcType=DATE}
	 </if>
	 <if test="modifytime != null and modifytime !='' ">
	  and MODIFYTIME=#{modifytime,jdbcType=DATE}
	 </if>
	 <if test="createuser != null and createuser !='' ">
	  and CREATEUSER=#{createuser,jdbcType=VARCHAR}
	 </if>
	 <if test="modifyuser != null and modifyuser !='' ">
	  and MODIFYUSER=#{modifyuser,jdbcType=VARCHAR}
	 </if>
	 <if test="remark != null and remark !='' ">
	  and REMARK=#{remark,jdbcType=VARCHAR}
	 </if>
  </select> 
  
   <select id="selectObjectByMap" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from score_grade_trial
    where 1=1 
   </select> 
  
  <select id="selectObjectByScoreGradeTrial" resultMap="BaseResultMap" parameterType="org.jypj.dev.entity.ScoreGradeTrial" >
    select 
    <include refid="Base_Column_List" />
    from score_grade_trial
    where 1=1 
	 <if test="id != null and id !='' ">
	  and ID=#{id,jdbcType=VARCHAR}
	 </if>
	 <if test="studentId != null and studentId !='' ">
	  and STUDENT_ID=#{studentId,jdbcType=VARCHAR}
	 </if>
	 <if test="grade != null and grade !='' ">
	  and GRADE=#{grade,jdbcType=VARCHAR}
	 </if>
	 <if test="projectId != null and projectId !='' ">
	  and PROJECT_ID=#{projectId,jdbcType=VARCHAR}
	 </if>
	 <if test="positionId != null and positionId !='' ">
	  and POSITION_ID=#{positionId,jdbcType=VARCHAR}
	 </if>
	 <if test="schoolId != null and schoolId !='' ">
	  and SCHOOL_ID=#{schoolId,jdbcType=VARCHAR}
	 </if>
	 <if test="scorePublishStatus != null and scorePublishStatus !='' ">
	  and SCORE_PUBLISH_STATUS=#{scorePublishStatus,jdbcType=VARCHAR}
	 </if>
	 <if test="listPublishStatus != null and listPublishStatus !='' ">
	  and LIST_PUBLISH_STATUS=#{listPublishStatus,jdbcType=VARCHAR}
	 </if>
	 <if test="type != null and type !='' ">
	  and TYPE=#{type,jdbcType=VARCHAR}
	 </if>
	 <if test="subjectType != null and subjectType !='' ">
	  and SUBJECT_TYPE=#{subjectType,jdbcType=VARCHAR}
	 </if>
	 <if test="isReset != null and isReset !='' ">
	  and IS_RESET=#{isReset,jdbcType=VARCHAR}
	 </if>
	 <if test="createtime != null and createtime !='' ">
	  and CREATETIME=#{createtime,jdbcType=DATE}
	 </if>
	 <if test="modifytime != null and modifytime !='' ">
	  and MODIFYTIME=#{modifytime,jdbcType=DATE}
	 </if>
	 <if test="createuser != null and createuser !='' ">
	  and CREATEUSER=#{createuser,jdbcType=VARCHAR}
	 </if>
	 <if test="modifyuser != null and modifyuser !='' ">
	  and MODIFYUSER=#{modifyuser,jdbcType=VARCHAR}
	 </if>
	 <if test="remark != null and remark !='' ">
	  and REMARK=#{remark,jdbcType=VARCHAR}
	 </if>
  </select> 
  
</mapper>