<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.jypj.dev.dao.StudentInfoDao" >

  <resultMap id="BaseResultMap" type="org.jypj.dev.entity.StudentInfo" >
	<id column="ID" property="id" jdbcType="VARCHAR" />
	<result column="EMPLOY_ITEMS_ID" property="employItemsId" jdbcType="VARCHAR" />
	<result column="NAME" property="name" jdbcType="VARCHAR" />
	<result column="SEX" property="sex" jdbcType="VARCHAR" />
	<result column="IDENTITY_CARD" property="identityCard" jdbcType="VARCHAR" />
	<result column="BIRTHDAY" property="birthday" jdbcType="DATE" />
	<result column="PASSWORD" property="password" jdbcType="VARCHAR" />
	<result column="NATION_CODE" property="nationCode" jdbcType="VARCHAR" />
	<result column="NATIVE_PLACE" property="nativePlace" jdbcType="VARCHAR" />
	<result column="ORIGIN_PLACE" property="originPlace" jdbcType="VARCHAR" />
	<result column="FAMILY_REGISTER" property="familyRegister" jdbcType="VARCHAR" />
	<result column="BIRTH_CONTROL" property="birthControl" jdbcType="VARCHAR" />
	<result column="HEALTHY" property="healthy" jdbcType="VARCHAR" />
	<result column="POLITICAL_STATUS" property="politicalStatus" jdbcType="VARCHAR" />
	<result column="PHOTO_ATT_ID" property="photoAttId" jdbcType="VARCHAR" />
	<result column="CERTI_TYPE" property="certiType" jdbcType="VARCHAR" />
	<result column="EXPERTISE_CODE" property="expertiseCode" jdbcType="VARCHAR" />
	<result column="HONOR_CODE" property="honorCode" jdbcType="VARCHAR" />
	<result column="TEACHING_SUBJECT" property="teachingSubject" jdbcType="VARCHAR" />
	<result column="PUBLIC_OFFICE" property="publicOffice" jdbcType="VARCHAR" />
	<result column="CONTRACT_TEACHER" property="contractTeacher" jdbcType="VARCHAR" />
	<result column="ATTACHED_UNITS" property="attachedUnits" jdbcType="VARCHAR" />
	<result column="FREE_STUDENT" property="freeStudent" jdbcType="VARCHAR" />
	<result column="PROFESSIONAL_COURSE" property="professionalCourse" jdbcType="VARCHAR" />
	<result column="MANDARIN_SCORE" property="mandarinScore" jdbcType="VARCHAR" />
	<result column="EDUCATION_SCORE" property="educationScore" jdbcType="VARCHAR" />
	<result column="PSYCHOLOGY_SCORE" property="psychologyScore" jdbcType="VARCHAR" />
	<result column="PHONE_NUMBER" property="phoneNumber" jdbcType="VARCHAR" />
	<result column="CONTACT_PHONE" property="contactPhone" jdbcType="VARCHAR" />
	<result column="ADDRESS" property="address" jdbcType="VARCHAR" />
	<result column="RESUME" property="resume" jdbcType="VARCHAR" />
	<result column="WORK_EXPERIENCE" property="workExperience" jdbcType="VARCHAR" />
	<result column="STUDENT_TYPE" property="studentType" jdbcType="VARCHAR" />
	<result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
	<result column="CTIME" property="ctime" jdbcType="DATE" />
	<result column="MODIFY_USER" property="modifyUser" jdbcType="VARCHAR" />
	<result column="MTIME" property="mtime" jdbcType="DATE" />
	<result column="TICKETNUM" property="ticketnum" jdbcType="VARCHAR" />
	<result column="POST_NAME" property="postName" jdbcType="VARCHAR" />
	<result column="APPLY_STATUS" property="applyStatus" jdbcType="VARCHAR" />
	<result column="STATUS_TEXT" property="statustext" jdbcType="VARCHAR" />
    <result column="schoolName" property="schoolName" jdbcType="VARCHAR" />
    <result column="professionName" property="professionName" jdbcType="VARCHAR" />
    <result column="photoStatus" property="photoStatus" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="VARCHAR" />
    <result column="TEACHING_ABILITY_SCORE" property="teachingAbilityScore" jdbcType="VARCHAR" />
    <result column="INTERNSHIP_CERTIFICATION" property="internshipCertification" jdbcType="VARCHAR" />
    <result column="viewGrade" property="viewGrade" jdbcType="VARCHAR" />
    <result column="isPass" property="isPass" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
  ID,EMPLOY_ITEMS_ID,NAME,SEX,IDENTITY_CARD,BIRTHDAY,PASSWORD,NATION_CODE,NATIVE_PLACE,ORIGIN_PLACE,FAMILY_REGISTER,BIRTH_CONTROL,HEALTHY,POLITICAL_STATUS,PHOTO_ATT_ID,CERTI_TYPE,EXPERTISE_CODE,HONOR_CODE,TEACHING_SUBJECT,PUBLIC_OFFICE,CONTRACT_TEACHER,ATTACHED_UNITS,FREE_STUDENT,PROFESSIONAL_COURSE,MANDARIN_SCORE,EDUCATION_SCORE,PSYCHOLOGY_SCORE,PHONE_NUMBER,CONTACT_PHONE,ADDRESS,RESUME,WORK_EXPERIENCE,STUDENT_TYPE,CREATE_USER,CTIME,MODIFY_USER,MTIME,TICKETNUM,TEACHING_ABILITY_SCORE,INTERNSHIP_CERTIFICATION
  </sql>
  
   <insert id="saveStudentInfoByField" parameterType="org.jypj.dev.entity.StudentInfo" >
    insert into student_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
   <if test="id != null" >
    ID,
   </if>
   <if test="employItemsId != null" >
    EMPLOY_ITEMS_ID,
   </if>
   <if test="name != null" >
    NAME,
   </if>
   <if test="sex != null" >
    SEX,
   </if>
   <if test="identityCard != null" >
    IDENTITY_CARD,
   </if>
   <if test="birthday != null" >
    BIRTHDAY,
   </if>
   <if test="password != null" >
    PASSWORD,
   </if>
   <if test="nationCode != null" >
    NATION_CODE,
   </if>
   <if test="nativePlace != null" >
    NATIVE_PLACE,
   </if>
   <if test="originPlace != null" >
    ORIGIN_PLACE,
   </if>
   <if test="familyRegister != null" >
    FAMILY_REGISTER,
   </if>
   <if test="birthControl != null" >
    BIRTH_CONTROL,
   </if>
   <if test="healthy != null" >
    HEALTHY,
   </if>
   <if test="politicalStatus != null" >
    POLITICAL_STATUS,
   </if>
   <if test="photoAttId != null" >
    PHOTO_ATT_ID,
   </if>
   <if test="certiType != null" >
    CERTI_TYPE,
   </if>
   <if test="expertiseCode != null" >
    EXPERTISE_CODE,
   </if>
   <if test="honorCode != null" >
    HONOR_CODE,
   </if>
   <if test="teachingSubject != null" >
    TEACHING_SUBJECT,
   </if>
   <if test="publicOffice != null" >
    PUBLIC_OFFICE,
   </if>
   <if test="contractTeacher != null" >
    CONTRACT_TEACHER,
   </if>
   <if test="attachedUnits != null" >
    ATTACHED_UNITS,
   </if>
   <if test="freeStudent != null" >
    FREE_STUDENT,
   </if>
   <if test="professionalCourse != null" >
    PROFESSIONAL_COURSE,
   </if>
   <if test="mandarinScore != null" >
    MANDARIN_SCORE,
   </if>
   <if test="educationScore != null" >
    EDUCATION_SCORE,
   </if>
   <if test="psychologyScore != null" >
    PSYCHOLOGY_SCORE,
   </if>
   <if test="phoneNumber != null" >
    PHONE_NUMBER,
   </if>
   <if test="contactPhone != null" >
    CONTACT_PHONE,
   </if>
   <if test="address != null" >
    ADDRESS,
   </if>
   <if test="resume != null" >
    RESUME,
   </if>
   <if test="workExperience != null" >
    WORK_EXPERIENCE,
   </if>
   <if test="studentType != null" >
    STUDENT_TYPE,
   </if>
   <if test="createUser != null" >
    CREATE_USER,
   </if>
   <if test="ctime != null" >
    CTIME,
   </if>
   <if test="ticketnum != null" >
    TICKETNUM,
   </if>
   <if test="modifyUser != null" >
    MODIFY_USER,
   </if>
   <if test="mtime != null" >
    MTIME,
   </if>
   <if test="teachingAbilityScore != null" >
     TEACHING_ABILITY_SCORE,
   </if>
   <if test="internshipCertification != null" >
     INTERNSHIP_CERTIFICATION,
   </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="employItemsId != null" >
        #{employItemsId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="identityCard != null" >
        #{identityCard,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nationCode != null" >
        #{nationCode,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null" >
        #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="originPlace != null" >
        #{originPlace,jdbcType=VARCHAR},
      </if>
      <if test="familyRegister != null" >
        #{familyRegister,jdbcType=VARCHAR},
      </if>
      <if test="birthControl != null" >
        #{birthControl,jdbcType=VARCHAR},
      </if>
      <if test="healthy != null" >
        #{healthy,jdbcType=VARCHAR},
      </if>
      <if test="politicalStatus != null" >
        #{politicalStatus,jdbcType=VARCHAR},
      </if>
      <if test="photoAttId != null" >
        #{photoAttId,jdbcType=VARCHAR},
      </if>
      <if test="certiType != null" >
        #{certiType,jdbcType=VARCHAR},
      </if>
      <if test="expertiseCode != null" >
        #{expertiseCode,jdbcType=VARCHAR},
      </if>
      <if test="honorCode != null" >
        #{honorCode,jdbcType=VARCHAR},
      </if>
      <if test="teachingSubject != null" >
        #{teachingSubject,jdbcType=VARCHAR},
      </if>
      <if test="publicOffice != null" >
        #{publicOffice,jdbcType=VARCHAR},
      </if>
      <if test="contractTeacher != null" >
        #{contractTeacher,jdbcType=VARCHAR},
      </if>
      <if test="attachedUnits != null" >
        #{attachedUnits,jdbcType=VARCHAR},
      </if>
      <if test="freeStudent != null" >
        #{freeStudent,jdbcType=VARCHAR},
      </if>
      <if test="professionalCourse != null" >
        #{professionalCourse,jdbcType=VARCHAR},
      </if>
      <if test="mandarinScore != null" >
        #{mandarinScore,jdbcType=VARCHAR},
      </if>
      <if test="educationScore != null" >
        #{educationScore,jdbcType=VARCHAR},
      </if>
      <if test="psychologyScore != null" >
        #{psychologyScore,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="resume != null" >
        #{resume,jdbcType=VARCHAR},
      </if>
      <if test="workExperience != null" >
        #{workExperience,jdbcType=VARCHAR},
      </if>
      <if test="studentType != null" >
        #{studentType,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=DATE},
      </if>
      <if test="ticketnum != null" >
        #{ticketnum,jdbcType=VARCHAR},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="mtime != null" >
        #{mtime,jdbcType=DATE},
      </if>
      <if test="teachingAbilityScore != null" >
        #{teachingAbilityScore,jdbcType=VARCHAR},
      </if>
      <if test="internshipCertification != null" >
        #{internshipCertification,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  
  <insert id="saveStudentInfo" parameterType="org.jypj.dev.entity.StudentInfo" >
    insert into student_info (
	ID,
	EMPLOY_ITEMS_ID,
	NAME,
	SEX,
	IDENTITY_CARD,
	BIRTHDAY,
	PASSWORD,
	NATION_CODE,
	NATIVE_PLACE,
	ORIGIN_PLACE,
	FAMILY_REGISTER,
	BIRTH_CONTROL,
	HEALTHY,
	POLITICAL_STATUS,
	PHOTO_ATT_ID,
	CERTI_TYPE,
	EXPERTISE_CODE,
	HONOR_CODE,
	TEACHING_SUBJECT,
	PUBLIC_OFFICE,
	CONTRACT_TEACHER,
	ATTACHED_UNITS,
	FREE_STUDENT,
	PROFESSIONAL_COURSE,
	MANDARIN_SCORE,
	EDUCATION_SCORE,
	PSYCHOLOGY_SCORE,
	PHONE_NUMBER,
	CONTACT_PHONE,
	ADDRESS,
	RESUME,
	WORK_EXPERIENCE,
	STUDENT_TYPE,
	CREATE_USER,
	CTIME,
	MODIFY_USER,
	 MTIME,
	 TICKETNUM,TEACHING_ABILITY_SCORE,INTERNSHIP_CERTIFICATION
	)
	values (
	#{id,jdbcType=VARCHAR},
	#{employItemsId,jdbcType=VARCHAR},
	#{name,jdbcType=VARCHAR},
	#{sex,jdbcType=VARCHAR},
	#{identityCard,jdbcType=VARCHAR},
	#{birthday,jdbcType=DATE},
	#{password,jdbcType=VARCHAR},
	#{nationCode,jdbcType=VARCHAR},
	#{nativePlace,jdbcType=VARCHAR},
	#{originPlace,jdbcType=VARCHAR},
	#{familyRegister,jdbcType=VARCHAR},
	#{birthControl,jdbcType=VARCHAR},
	#{healthy,jdbcType=VARCHAR},
	#{politicalStatus,jdbcType=VARCHAR},
	#{photoAttId,jdbcType=VARCHAR},
	#{certiType,jdbcType=VARCHAR},
	#{expertiseCode,jdbcType=VARCHAR},
	#{honorCode,jdbcType=VARCHAR},
	#{teachingSubject,jdbcType=VARCHAR},
	#{publicOffice,jdbcType=VARCHAR},
	#{contractTeacher,jdbcType=VARCHAR},
	#{attachedUnits,jdbcType=VARCHAR},
	#{freeStudent,jdbcType=VARCHAR},
	#{professionalCourse,jdbcType=VARCHAR},
	#{mandarinScore,jdbcType=VARCHAR},
	#{educationScore,jdbcType=VARCHAR},
	#{psychologyScore,jdbcType=VARCHAR},
	#{phoneNumber,jdbcType=VARCHAR},
	#{contactPhone,jdbcType=VARCHAR},
	#{address,jdbcType=VARCHAR},
	#{resume,jdbcType=VARCHAR},
	#{workExperience,jdbcType=VARCHAR},
	#{studentType,jdbcType=VARCHAR},
	#{createUser,jdbcType=VARCHAR},
	sysdate,
	#{modifyUser,jdbcType=VARCHAR},
	sysdate,
	#{ticketnum,jdbcType=VARCHAR},#{teachingAbilityScore,jdbcType=VARCHAR},#{internshipCertification,jdbcType=VARCHAR}
	)
  </insert>
  
  <delete id="deleteStudentInfoById" parameterType="java.lang.String" >
    delete from student_info
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteStudentInfoByObject" parameterType="org.jypj.dev.entity.StudentInfo" >
    delete from student_info
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <update id="updateStudentInfoByField" parameterType="org.jypj.dev.entity.StudentInfo" >
    update student_info
    <set >
  	 <if test="id != null" >
  	 ID=#{id,jdbcType=VARCHAR},
  	 </if>
  	 <if test="employItemsId != null" >
  	 EMPLOY_ITEMS_ID=#{employItemsId,jdbcType=VARCHAR},
  	 </if>
  	 <if test="name != null" >
  	 NAME=#{name,jdbcType=VARCHAR},
  	 </if>
  	 <if test="sex != null" >
  	 SEX=#{sex,jdbcType=VARCHAR},
  	 </if>
  	 <if test="identityCard != null" >
  	 IDENTITY_CARD=#{identityCard,jdbcType=VARCHAR},
  	 </if>
  	 <if test="birthday != null" >
  	 BIRTHDAY=#{birthday,jdbcType=DATE},
  	 </if>
  	 <if test="password != null" >
  	 PASSWORD=#{password,jdbcType=VARCHAR},
  	 </if>
  	 <if test="nationCode != null" >
  	 NATION_CODE=#{nationCode,jdbcType=VARCHAR},
  	 </if>
  	 <if test="nativePlace != null" >
  	 NATIVE_PLACE=#{nativePlace,jdbcType=VARCHAR},
  	 </if>
  	 <if test="originPlace != null" >
  	 ORIGIN_PLACE=#{originPlace,jdbcType=VARCHAR},
  	 </if>
  	 <if test="familyRegister != null" >
  	 FAMILY_REGISTER=#{familyRegister,jdbcType=VARCHAR},
  	 </if>
  	 <if test="birthControl != null" >
  	 BIRTH_CONTROL=#{birthControl,jdbcType=VARCHAR},
  	 </if>
  	 <if test="healthy != null" >
  	 HEALTHY=#{healthy,jdbcType=VARCHAR},
  	 </if>
  	 <if test="politicalStatus != null" >
  	 POLITICAL_STATUS=#{politicalStatus,jdbcType=VARCHAR},
  	 </if>
  	 <if test="photoAttId != null" >
  	 PHOTO_ATT_ID=#{photoAttId,jdbcType=VARCHAR},
  	 </if>
  	 <if test="certiType != null" >
  	 CERTI_TYPE=#{certiType,jdbcType=VARCHAR},
  	 </if>
  	 <if test="expertiseCode != null" >
  	 EXPERTISE_CODE=#{expertiseCode,jdbcType=VARCHAR},
  	 </if>
  	 <if test="honorCode != null" >
  	 HONOR_CODE=#{honorCode,jdbcType=VARCHAR},
  	 </if>
  	 <if test="teachingSubject != null" >
  	 TEACHING_SUBJECT=#{teachingSubject,jdbcType=VARCHAR},
  	 </if>
  	 <if test="publicOffice != null" >
  	 PUBLIC_OFFICE=#{publicOffice,jdbcType=VARCHAR},
  	 </if>
  	 <if test="contractTeacher != null" >
  	 CONTRACT_TEACHER=#{contractTeacher,jdbcType=VARCHAR},
  	 </if>
  	 <if test="attachedUnits != null" >
  	 ATTACHED_UNITS=#{attachedUnits,jdbcType=VARCHAR},
  	 </if>
  	 <if test="freeStudent != null" >
  	 FREE_STUDENT=#{freeStudent,jdbcType=VARCHAR},
  	 </if>
  	 <if test="professionalCourse != null" >
  	 PROFESSIONAL_COURSE=#{professionalCourse,jdbcType=VARCHAR},
  	 </if>
  	 <if test="mandarinScore != null" >
  	 MANDARIN_SCORE=#{mandarinScore,jdbcType=VARCHAR},
  	 </if>
  	 <if test="educationScore != null" >
  	 EDUCATION_SCORE=#{educationScore,jdbcType=VARCHAR},
  	 </if>
  	 <if test="psychologyScore != null" >
  	 PSYCHOLOGY_SCORE=#{psychologyScore,jdbcType=VARCHAR},
  	 </if>
  	 <if test="phoneNumber != null" >
  	 PHONE_NUMBER=#{phoneNumber,jdbcType=VARCHAR},
  	 </if>
  	 <if test="contactPhone != null" >
  	 CONTACT_PHONE=#{contactPhone,jdbcType=VARCHAR},
  	 </if>
  	 <if test="address != null" >
  	 ADDRESS=#{address,jdbcType=VARCHAR},
  	 </if>
  	 <if test="resume != null" >
  	 RESUME=#{resume,jdbcType=VARCHAR},
  	 </if>
  	 <if test="workExperience != null" >
  	 WORK_EXPERIENCE=#{workExperience,jdbcType=VARCHAR},
  	 </if>
  	 <if test="studentType != null" >
  	 STUDENT_TYPE=#{studentType,jdbcType=VARCHAR},
  	 </if>
  	 <if test="createUser != null" >
  	 CREATE_USER=#{createUser,jdbcType=VARCHAR},
  	 </if>
  	 <if test="ctime != null" >
  	 CTIME=#{ctime,jdbcType=DATE},
  	 </if>
  	 <if test="modifyUser != null" >
  	 MODIFY_USER=#{modifyUser,jdbcType=VARCHAR},
  	 </if>
     <if test="mtime != null" >
  	 MTIME=sysdate,
  	 </if>
  	   	 <if test="ticketnum != null" >
  	 TICKETNUM=#{ticketnum,jdbcType=VARCHAR},
  	 </if>
   <if test="teachingAbilityScore != null" >
     TEACHING_ABILITY_SCORE=#{teachingAbilityScore,jdbcType=VARCHAR},
   </if>
   <if test="internshipCertification != null" >
     INTERNSHIP_CERTIFICATION=#{internshipCertification,jdbcType=VARCHAR},
   </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="updateStudentInfo" parameterType="org.jypj.dev.entity.StudentInfo" >
    update student_info
    <set >
	 ID=#{id,jdbcType=VARCHAR},
	 EMPLOY_ITEMS_ID=#{employItemsId,jdbcType=VARCHAR},
	 NAME=#{name,jdbcType=VARCHAR},
	 SEX=#{sex,jdbcType=VARCHAR},
	 IDENTITY_CARD=#{identityCard,jdbcType=VARCHAR},
	 BIRTHDAY=#{birthday,jdbcType=DATE},
	 PASSWORD=#{password,jdbcType=VARCHAR},
	 NATION_CODE=#{nationCode,jdbcType=VARCHAR},
	 NATIVE_PLACE=#{nativePlace,jdbcType=VARCHAR},
	 ORIGIN_PLACE=#{originPlace,jdbcType=VARCHAR},
	 FAMILY_REGISTER=#{familyRegister,jdbcType=VARCHAR},
	 BIRTH_CONTROL=#{birthControl,jdbcType=VARCHAR},
	 HEALTHY=#{healthy,jdbcType=VARCHAR},
	 POLITICAL_STATUS=#{politicalStatus,jdbcType=VARCHAR},
	 PHOTO_ATT_ID=#{photoAttId,jdbcType=VARCHAR},
	 CERTI_TYPE=#{certiType,jdbcType=VARCHAR},
	 EXPERTISE_CODE=#{expertiseCode,jdbcType=VARCHAR},
	 HONOR_CODE=#{honorCode,jdbcType=VARCHAR},
	 TEACHING_SUBJECT=#{teachingSubject,jdbcType=VARCHAR},
	 PUBLIC_OFFICE=#{publicOffice,jdbcType=VARCHAR},
	 CONTRACT_TEACHER=#{contractTeacher,jdbcType=VARCHAR},
	 ATTACHED_UNITS=#{attachedUnits,jdbcType=VARCHAR},
	 FREE_STUDENT=#{freeStudent,jdbcType=VARCHAR},
	 PROFESSIONAL_COURSE=#{professionalCourse,jdbcType=VARCHAR},
	 MANDARIN_SCORE=#{mandarinScore,jdbcType=VARCHAR},
	 EDUCATION_SCORE=#{educationScore,jdbcType=VARCHAR},
	 PSYCHOLOGY_SCORE=#{psychologyScore,jdbcType=VARCHAR},
	 PHONE_NUMBER=#{phoneNumber,jdbcType=VARCHAR},
	 CONTACT_PHONE=#{contactPhone,jdbcType=VARCHAR},
	 ADDRESS=#{address,jdbcType=VARCHAR},
	 RESUME=#{resume,jdbcType=VARCHAR},
	 WORK_EXPERIENCE=#{workExperience,jdbcType=VARCHAR},
	 STUDENT_TYPE=#{studentType,jdbcType=VARCHAR},
	 CREATE_USER=#{createUser,jdbcType=VARCHAR},
	 CTIME=#{ctime,jdbcType=DATE},
	 MODIFY_USER=#{modifyUser,jdbcType=VARCHAR},
	 MTIME=#{mtime,jdbcType=DATE},
	 TICKETNUM=#{ticketnum,jdbcType=VARCHAR},
     TEACHING_ABILITY_SCORE=#{teachingAbilityScore,jdbcType=VARCHAR},
     INTERNSHIP_CERTIFICATION=#{internshipCertification,jdbcType=VARCHAR}
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="selectStudentInfoById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from student_info
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
   <select id="isApplyPosition" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select count(0) 
    from STUDENT_APPLY_INFO
    where STUDENT_ID = #{sid,jdbcType=VARCHAR} AND APPLY_DEP_ID = #{schoolId,jdbcType=VARCHAR} 
    AND APPLY_JOB_ID = #{recruitJobId,jdbcType=VARCHAR} AND EMPLOY_ITEMS_ID = #{recruitId,jdbcType=VARCHAR} 
  </select>
  
   <select id="isApplySchool" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select count(0) 
    from STUDENT_APPLY_INFO
    where STUDENT_ID = #{sid,jdbcType=VARCHAR} AND APPLY_DEP_ID != #{schoolId,jdbcType=VARCHAR} AND APPLY_DEP_ID is not null 
    AND EMPLOY_ITEMS_ID = #{recruitId,jdbcType=VARCHAR} AND APPLY_STATUS NOT IN ('1','4','5')
  </select>
  
  
  
  <select id="selectExpertSubject" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select count(1)
    from SYS_EXPERT_SUBJECT
    where EXPERTCODE = #{jszg,jdbcType=VARCHAR} and SUBJECTCODE = #{gwxk,jdbcType=VARCHAR}
  </select>
  
  <select id="selectOnePageByMap" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from student_info
    where 1=1 
  </select> 
  
  <select id="selectOnePageByStudentInfo" resultMap="BaseResultMap" parameterType="org.jypj.dev.entity.StudentInfo" >
    select 
    <include refid="Base_Column_List" />
    from student_info
    where 1=1 
	 <if test="id != null and id !='' ">
	  and ID=#{id,jdbcType=VARCHAR}
	 </if>
	 <if test="employItemsId != null and employItemsId !='' ">
	  and EMPLOY_ITEMS_ID=#{employItemsId,jdbcType=VARCHAR}
	 </if>
	 <if test="name != null and name !='' ">
	  and NAME=#{name,jdbcType=VARCHAR}
	 </if>
	 <if test="sex != null and sex !='' ">
	  and SEX=#{sex,jdbcType=VARCHAR}
	 </if>
	 <if test="identityCard != null and identityCard !='' ">
	  and IDENTITY_CARD=#{identityCard,jdbcType=VARCHAR}
	 </if>
	 <if test="birthday != null and birthday !='' ">
	  and BIRTHDAY=#{birthday,jdbcType=DATE}
	 </if>
	 <if test="password != null and password !='' ">
	  and PASSWORD=#{password,jdbcType=VARCHAR}
	 </if>
	 <if test="nationCode != null and nationCode !='' ">
	  and NATION_CODE=#{nationCode,jdbcType=VARCHAR}
	 </if>
	 <if test="nativePlace != null and nativePlace !='' ">
	  and NATIVE_PLACE=#{nativePlace,jdbcType=VARCHAR}
	 </if>
	 <if test="originPlace != null and originPlace !='' ">
	  and ORIGIN_PLACE=#{originPlace,jdbcType=VARCHAR}
	 </if>
	 <if test="familyRegister != null and familyRegister !='' ">
	  and FAMILY_REGISTER=#{familyRegister,jdbcType=VARCHAR}
	 </if>
	 <if test="birthControl != null and birthControl !='' ">
	  and BIRTH_CONTROL=#{birthControl,jdbcType=VARCHAR}
	 </if>
	 <if test="healthy != null and healthy !='' ">
	  and HEALTHY=#{healthy,jdbcType=VARCHAR}
	 </if>
	 <if test="politicalStatus != null and politicalStatus !='' ">
	  and POLITICAL_STATUS=#{politicalStatus,jdbcType=VARCHAR}
	 </if>
	 <if test="photoAttId != null and photoAttId !='' ">
	  and PHOTO_ATT_ID=#{photoAttId,jdbcType=VARCHAR}
	 </if>
	 <if test="certiType != null and certiType !='' ">
	  and CERTI_TYPE=#{certiType,jdbcType=VARCHAR}
	 </if>
	 <if test="expertiseCode != null and expertiseCode !='' ">
	  and EXPERTISE_CODE=#{expertiseCode,jdbcType=VARCHAR}
	 </if>
	 <if test="honorCode != null and honorCode !='' ">
	  and HONOR_CODE=#{honorCode,jdbcType=VARCHAR}
	 </if>
	 <if test="teachingSubject != null and teachingSubject !='' ">
	  and TEACHING_SUBJECT=#{teachingSubject,jdbcType=VARCHAR}
	 </if>
	 <if test="publicOffice != null and publicOffice !='' ">
	  and PUBLIC_OFFICE=#{publicOffice,jdbcType=VARCHAR}
	 </if>
	 <if test="contractTeacher != null and contractTeacher !='' ">
	  and CONTRACT_TEACHER=#{contractTeacher,jdbcType=VARCHAR}
	 </if>
	 <if test="attachedUnits != null and attachedUnits !='' ">
	  and ATTACHED_UNITS=#{attachedUnits,jdbcType=VARCHAR}
	 </if>
	 <if test="freeStudent != null and freeStudent !='' ">
	  and FREE_STUDENT=#{freeStudent,jdbcType=VARCHAR}
	 </if>
	 <if test="professionalCourse != null and professionalCourse !='' ">
	  and PROFESSIONAL_COURSE=#{professionalCourse,jdbcType=VARCHAR}
	 </if>
	 <if test="mandarinScore != null and mandarinScore !='' ">
	  and MANDARIN_SCORE=#{mandarinScore,jdbcType=VARCHAR}
	 </if>
	 <if test="educationScore != null and educationScore !='' ">
	  and EDUCATION_SCORE=#{educationScore,jdbcType=VARCHAR}
	 </if>
	 <if test="psychologyScore != null and psychologyScore !='' ">
	  and PSYCHOLOGY_SCORE=#{psychologyScore,jdbcType=VARCHAR}
	 </if>
	 <if test="phoneNumber != null and phoneNumber !='' ">
	  and PHONE_NUMBER=#{phoneNumber,jdbcType=VARCHAR}
	 </if>
	 <if test="contactPhone != null and contactPhone !='' ">
	  and CONTACT_PHONE=#{contactPhone,jdbcType=VARCHAR}
	 </if>
	 <if test="address != null and address !='' ">
	  and ADDRESS=#{address,jdbcType=VARCHAR}
	 </if>
	 <if test="resume != null and resume !='' ">
	  and RESUME=#{resume,jdbcType=VARCHAR}
	 </if>
	 <if test="workExperience != null and workExperience !='' ">
	  and WORK_EXPERIENCE=#{workExperience,jdbcType=VARCHAR}
	 </if>
	 <if test="studentType != null and studentType !='' ">
	  and STUDENT_TYPE=#{studentType,jdbcType=VARCHAR}
	 </if>
	 <if test="createUser != null and createUser !='' ">
	  and CREATE_USER=#{createUser,jdbcType=VARCHAR}
	 </if>
	 <if test="ctime != null and ctime !='' ">
	  and CTIME=#{ctime,jdbcType=DATE}
	 </if>
	 <if test="modifyUser != null and modifyUser !='' ">
	  and MODIFY_USER=#{modifyUser,jdbcType=VARCHAR}
	 </if>
	 <if test="mtime != null and mtime !='' ">
	  and MTIME=#{mtime,jdbcType=DATE}
	 </if>
	 	 <if test="ticketnum != null and ticketnum !='' ">
	  and TICKETNUM=#{ticketnum,jdbcType=VARCHAR}
	 </if>
  </select> 
  
   <select id="selectAllByMap" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select s.* from student_info s 
    	left join STUDENT_APPLY_INFO i on ( s.ID=i.STUDENT_ID and s.EMPLOY_ITEMS_ID=i.EMPLOY_ITEMS_ID ) 
    where 1=1 
    <if test="ids !=null and ids !='' ">
    	AND s.ID IN 
		<foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>	
    </if>
    <if test="employItemsId !=null and employItemsId !='' ">
    	and s.EMPLOY_ITEMS_ID=#{employItemsId,jdbcType=VARCHAR}
    </if>
    <if test="applyDepId !=null and applyDepId !='' ">
    	and i.APPLY_DEP_ID=#{applyDepId,jdbcType=VARCHAR}
    </if>
  </select> 
  
   <select id="selectAllByStudentInfo" resultMap="BaseResultMap" parameterType="org.jypj.dev.entity.StudentInfo" >
    select 
    <include refid="Base_Column_List" />
    from student_info
    where 1=1 
	 <if test="id != null and id !='' ">
	  and ID=#{id,jdbcType=VARCHAR}
	 </if>
	 <if test="employItemsId != null and employItemsId !='' ">
	  and EMPLOY_ITEMS_ID=#{employItemsId,jdbcType=VARCHAR}
	 </if>
	 <if test="name != null and name !='' ">
	  and NAME=#{name,jdbcType=VARCHAR}
	 </if>
	 <if test="sex != null and sex !='' ">
	  and SEX=#{sex,jdbcType=VARCHAR}
	 </if>
	 <if test="identityCard != null and identityCard !='' ">
	  and IDENTITY_CARD=#{identityCard,jdbcType=VARCHAR}
	 </if>
	 <if test="birthday != null and birthday !='' ">
	  and BIRTHDAY=#{birthday,jdbcType=DATE}
	 </if>
	 <if test="password != null and password !='' ">
	  and PASSWORD=#{password,jdbcType=VARCHAR}
	 </if>
	 <if test="nationCode != null and nationCode !='' ">
	  and NATION_CODE=#{nationCode,jdbcType=VARCHAR}
	 </if>
	 <if test="nativePlace != null and nativePlace !='' ">
	  and NATIVE_PLACE=#{nativePlace,jdbcType=VARCHAR}
	 </if>
	 <if test="originPlace != null and originPlace !='' ">
	  and ORIGIN_PLACE=#{originPlace,jdbcType=VARCHAR}
	 </if>
	 <if test="familyRegister != null and familyRegister !='' ">
	  and FAMILY_REGISTER=#{familyRegister,jdbcType=VARCHAR}
	 </if>
	 <if test="birthControl != null and birthControl !='' ">
	  and BIRTH_CONTROL=#{birthControl,jdbcType=VARCHAR}
	 </if>
	 <if test="healthy != null and healthy !='' ">
	  and HEALTHY=#{healthy,jdbcType=VARCHAR}
	 </if>
	 <if test="politicalStatus != null and politicalStatus !='' ">
	  and POLITICAL_STATUS=#{politicalStatus,jdbcType=VARCHAR}
	 </if>
	 <if test="photoAttId != null and photoAttId !='' ">
	  and PHOTO_ATT_ID=#{photoAttId,jdbcType=VARCHAR}
	 </if>
	 <if test="certiType != null and certiType !='' ">
	  and CERTI_TYPE=#{certiType,jdbcType=VARCHAR}
	 </if>
	 <if test="expertiseCode != null and expertiseCode !='' ">
	  and EXPERTISE_CODE=#{expertiseCode,jdbcType=VARCHAR}
	 </if>
	 <if test="honorCode != null and honorCode !='' ">
	  and HONOR_CODE=#{honorCode,jdbcType=VARCHAR}
	 </if>
	 <if test="teachingSubject != null and teachingSubject !='' ">
	  and TEACHING_SUBJECT=#{teachingSubject,jdbcType=VARCHAR}
	 </if>
	 <if test="publicOffice != null and publicOffice !='' ">
	  and PUBLIC_OFFICE=#{publicOffice,jdbcType=VARCHAR}
	 </if>
	 <if test="contractTeacher != null and contractTeacher !='' ">
	  and CONTRACT_TEACHER=#{contractTeacher,jdbcType=VARCHAR}
	 </if>
	 <if test="attachedUnits != null and attachedUnits !='' ">
	  and ATTACHED_UNITS=#{attachedUnits,jdbcType=VARCHAR}
	 </if>
	 <if test="freeStudent != null and freeStudent !='' ">
	  and FREE_STUDENT=#{freeStudent,jdbcType=VARCHAR}
	 </if>
	 <if test="professionalCourse != null and professionalCourse !='' ">
	  and PROFESSIONAL_COURSE=#{professionalCourse,jdbcType=VARCHAR}
	 </if>
	 <if test="mandarinScore != null and mandarinScore !='' ">
	  and MANDARIN_SCORE=#{mandarinScore,jdbcType=VARCHAR}
	 </if>
	 <if test="educationScore != null and educationScore !='' ">
	  and EDUCATION_SCORE=#{educationScore,jdbcType=VARCHAR}
	 </if>
	 <if test="psychologyScore != null and psychologyScore !='' ">
	  and PSYCHOLOGY_SCORE=#{psychologyScore,jdbcType=VARCHAR}
	 </if>
	 <if test="phoneNumber != null and phoneNumber !='' ">
	  and PHONE_NUMBER=#{phoneNumber,jdbcType=VARCHAR}
	 </if>
	 <if test="contactPhone != null and contactPhone !='' ">
	  and CONTACT_PHONE=#{contactPhone,jdbcType=VARCHAR}
	 </if>
	 <if test="address != null and address !='' ">
	  and ADDRESS=#{address,jdbcType=VARCHAR}
	 </if>
	 <if test="resume != null and resume !='' ">
	  and RESUME=#{resume,jdbcType=VARCHAR}
	 </if>
	 <if test="workExperience != null and workExperience !='' ">
	  and WORK_EXPERIENCE=#{workExperience,jdbcType=VARCHAR}
	 </if>
	 <if test="studentType != null and studentType !='' ">
	  and STUDENT_TYPE=#{studentType,jdbcType=VARCHAR}
	 </if>
	 <if test="createUser != null and createUser !='' ">
	  and CREATE_USER=#{createUser,jdbcType=VARCHAR}
	 </if>
	 <if test="ctime != null and ctime !='' ">
	  and CTIME=#{ctime,jdbcType=DATE}
	 </if>
	 <if test="modifyUser != null and modifyUser !='' ">
	  and MODIFY_USER=#{modifyUser,jdbcType=VARCHAR}
	 </if>
	 <if test="mtime != null and mtime !='' ">
	  and MTIME=#{mtime,jdbcType=DATE}
	 </if>
	 	 <if test="ticketnum != null and ticketnum !='' ">
	  and TICKETNUM=#{ticketnum,jdbcType=VARCHAR}
	 </if>
  </select> 
  
   <select id="selectObjectByMap" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from student_info
    where 1=1 
   </select> 
   
   <select id="isExistIdCard" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select count(0)
    from student_info
    where IDENTITY_CARD = #{IdCard,jdbcType=VARCHAR} AND EMPLOY_ITEMS_ID = #{recruitId,jdbcType=VARCHAR}
   </select> 
  
  <select id="selectObjectByStudentInfo" resultMap="BaseResultMap" parameterType="org.jypj.dev.entity.StudentInfo" >
    select 
    <include refid="Base_Column_List" />
    from student_info
    where 1=1 
	 <if test="id != null and id !='' ">
	  and ID=#{id,jdbcType=VARCHAR}
	 </if>
	 <if test="employItemsId != null and employItemsId !='' ">
	  and EMPLOY_ITEMS_ID=#{employItemsId,jdbcType=VARCHAR}
	 </if>
	 <if test="name != null and name !='' ">
	  and NAME=#{name,jdbcType=VARCHAR}
	 </if>
	 <if test="sex != null and sex !='' ">
	  and SEX=#{sex,jdbcType=VARCHAR}
	 </if>
	 <if test="identityCard != null and identityCard !='' ">
	  and IDENTITY_CARD=#{identityCard,jdbcType=VARCHAR}
	 </if>
	 <if test="birthday != null and birthday !='' ">
	  and BIRTHDAY=#{birthday,jdbcType=DATE}
	 </if>
	 <if test="password != null and password !='' ">
	  and PASSWORD=#{password,jdbcType=VARCHAR}
	 </if>
	 <if test="nationCode != null and nationCode !='' ">
	  and NATION_CODE=#{nationCode,jdbcType=VARCHAR}
	 </if>
	 <if test="nativePlace != null and nativePlace !='' ">
	  and NATIVE_PLACE=#{nativePlace,jdbcType=VARCHAR}
	 </if>
	 <if test="originPlace != null and originPlace !='' ">
	  and ORIGIN_PLACE=#{originPlace,jdbcType=VARCHAR}
	 </if>
	 <if test="familyRegister != null and familyRegister !='' ">
	  and FAMILY_REGISTER=#{familyRegister,jdbcType=VARCHAR}
	 </if>
	 <if test="birthControl != null and birthControl !='' ">
	  and BIRTH_CONTROL=#{birthControl,jdbcType=VARCHAR}
	 </if>
	 <if test="healthy != null and healthy !='' ">
	  and HEALTHY=#{healthy,jdbcType=VARCHAR}
	 </if>
	 <if test="politicalStatus != null and politicalStatus !='' ">
	  and POLITICAL_STATUS=#{politicalStatus,jdbcType=VARCHAR}
	 </if>
	 <if test="photoAttId != null and photoAttId !='' ">
	  and PHOTO_ATT_ID=#{photoAttId,jdbcType=VARCHAR}
	 </if>
	 <if test="certiType != null and certiType !='' ">
	  and CERTI_TYPE=#{certiType,jdbcType=VARCHAR}
	 </if>
	 <if test="expertiseCode != null and expertiseCode !='' ">
	  and EXPERTISE_CODE=#{expertiseCode,jdbcType=VARCHAR}
	 </if>
	 <if test="honorCode != null and honorCode !='' ">
	  and HONOR_CODE=#{honorCode,jdbcType=VARCHAR}
	 </if>
	 <if test="teachingSubject != null and teachingSubject !='' ">
	  and TEACHING_SUBJECT=#{teachingSubject,jdbcType=VARCHAR}
	 </if>
	 <if test="publicOffice != null and publicOffice !='' ">
	  and PUBLIC_OFFICE=#{publicOffice,jdbcType=VARCHAR}
	 </if>
	 <if test="contractTeacher != null and contractTeacher !='' ">
	  and CONTRACT_TEACHER=#{contractTeacher,jdbcType=VARCHAR}
	 </if>
	 <if test="attachedUnits != null and attachedUnits !='' ">
	  and ATTACHED_UNITS=#{attachedUnits,jdbcType=VARCHAR}
	 </if>
	 <if test="freeStudent != null and freeStudent !='' ">
	  and FREE_STUDENT=#{freeStudent,jdbcType=VARCHAR}
	 </if>
	 <if test="professionalCourse != null and professionalCourse !='' ">
	  and PROFESSIONAL_COURSE=#{professionalCourse,jdbcType=VARCHAR}
	 </if>
	 <if test="mandarinScore != null and mandarinScore !='' ">
	  and MANDARIN_SCORE=#{mandarinScore,jdbcType=VARCHAR}
	 </if>
	 <if test="educationScore != null and educationScore !='' ">
	  and EDUCATION_SCORE=#{educationScore,jdbcType=VARCHAR}
	 </if>
	 <if test="psychologyScore != null and psychologyScore !='' ">
	  and PSYCHOLOGY_SCORE=#{psychologyScore,jdbcType=VARCHAR}
	 </if>
	 <if test="phoneNumber != null and phoneNumber !='' ">
	  and PHONE_NUMBER=#{phoneNumber,jdbcType=VARCHAR}
	 </if>
	 <if test="contactPhone != null and contactPhone !='' ">
	  and CONTACT_PHONE=#{contactPhone,jdbcType=VARCHAR}
	 </if>
	 <if test="address != null and address !='' ">
	  and ADDRESS=#{address,jdbcType=VARCHAR}
	 </if>
	 <if test="resume != null and resume !='' ">
	  and RESUME=#{resume,jdbcType=VARCHAR}
	 </if>
	 <if test="workExperience != null and workExperience !='' ">
	  and WORK_EXPERIENCE=#{workExperience,jdbcType=VARCHAR}
	 </if>
	 <if test="studentType != null and studentType !='' ">
	  and STUDENT_TYPE=#{studentType,jdbcType=VARCHAR}
	 </if>
	 <if test="createUser != null and createUser !='' ">
	  and CREATE_USER=#{createUser,jdbcType=VARCHAR}
	 </if>
	 <if test="ctime != null and ctime !='' ">
	  and CTIME=#{ctime,jdbcType=DATE}
	 </if>
	 <if test="modifyUser != null and modifyUser !='' ">
	  and MODIFY_USER=#{modifyUser,jdbcType=VARCHAR}
	 </if>
	 <if test="mtime != null and mtime !='' ">
	  and MTIME=#{mtime,jdbcType=DATE}
	 </if>
	 	 <if test="ticketnum != null and ticketnum !='' ">
	  and TICKETNUM=#{ticketnum,jdbcType=VARCHAR}
	 </if>
  </select> 
  
  <select id="queryNoAuditList" parameterType="map" resultMap="BaseResultMap">
  	SELECT p.POST_NAME,i.APPLY_STATUS,s.* FROM STUDENT_INFO s 
    	left join STUDENT_APPLY_INFO i on (s.ID=i.STUDENT_ID and s.EMPLOY_ITEMS_ID=i.EMPLOY_ITEMS_ID)
    	left join RECRUIT_THEME t on t.ID=i.EMPLOY_ITEMS_ID
    	left join RECRUIT_POSTSET p on p.ID=i.APPLY_JOB_ID
    where i.APPLY_STATUS='3' 
    <if test="projectId !=null and projectId !='' ">
	    and s.EMPLOY_ITEMS_ID=#{projectId,jdbcType=VARCHAR}
    </if>
    <if test="schoolId !=null and schoolId !='' ">
	    and i.APPLY_DEP_ID=#{schoolId,jdbcType=VARCHAR}
    </if>
    <if test="name !=null and name !='' ">
	    and s.name like concat(concat('%',#{name,jdbcType=VARCHAR}),'%')
    </if>
    <if test="year !=null and year !='' ">
    	and to_char(t.CREATETIME,'yyyy')=#{year,jdbcType=VARCHAR}
    </if>
    order by i.APPLY_JOB_ID asc,i.CTIME desc,s.id asc
  </select>
  
  <select id="queryAuditList" parameterType="map" resultMap="BaseResultMap">
  	SELECT p.POST_NAME,i.APPLY_STATUS,
  		case 
            WHEN i.APPLY_STATUS = '4' THEN concat('不通过（照片退回）',nvl2(r.REASON,concat(concat('【原因：',r.REASON),'】'),'')) 
        	WHEN i.APPLY_STATUS = '5' THEN concat('不通过',nvl2(r.REASON,concat(concat('【原因：',r.REASON),'】'),'')) 
        else '通过' end STATUS_TEXT,
  		s.* FROM STUDENT_INFO s 
    	left join STUDENT_APPLY_INFO i on (s.ID=i.STUDENT_ID and s.EMPLOY_ITEMS_ID=i.EMPLOY_ITEMS_ID)
    	left join RECRUIT_THEME t on t.ID=i.EMPLOY_ITEMS_ID
    	left join RECRUIT_POSTSET p on p.ID=i.APPLY_JOB_ID
    	LEFT JOIN SCHOOL_AUDIT_REASON R ON R.ID=I.APPLY_AUDIT_CODE
    where i.APPLY_STATUS in ('4','5','6','7','8','9','10','11','12','13') and i.AUDITTYPE='2' 
    <if test="projectId !=null and projectId !='' ">
	    and s.EMPLOY_ITEMS_ID=#{projectId,jdbcType=VARCHAR}
    </if>
    <if test="schoolId !=null and schoolId !='' ">
	    and i.APPLY_DEP_ID=#{schoolId,jdbcType=VARCHAR}
    </if>
    <if test="name !=null and name !='' ">
	    and s.NAME like concat(concat('%',#{name,jdbcType=VARCHAR}),'%')
    </if>
    <if test="applyStatus !=null and applyStatus == 'yes' ">
	    and i.APPLY_STATUS in ('6','7','8','9','10','11','12','13') 
    </if>
    <if test="applyStatus !=null and applyStatus == 'no' ">
	    and i.APPLY_STATUS in ('4','5') 
    </if>
    <if test="year !=null and year !='' ">
    	and to_char(t.CREATETIME,'yyyy')=#{year,jdbcType=VARCHAR}
    </if>
    order by i.APPLY_JOB_ID asc,s.ticketnum asc,i.CTIME desc,s.id asc
  </select>
  
  <update id="updateList" parameterType="list">
		<foreach collection="list" item="item" index="index" open="begin" close="end;" separator="" > 
	        update STUDENT_INFO 
	        <set>
			    TICKETNUM=#{item.ticketnum,jdbcType=VARCHAR},
		        MODIFY_USER=#{item.modifyUser,jdbcType=VARCHAR},
	        	MTIME=SYSDATE
	        </set>
	        where ID = #{item.id,jdbcType=VARCHAR};
       </foreach>  
  </update>
  
  <select id="getMaxTicketNum" parameterType="string" resultType="string">
  	SELECT max(s.TICKETNUM) FROM STUDENT_INFO s WHERE 1=1 and s.EMPLOY_ITEMS_ID=#{projectId,jdbcType=VARCHAR} 
  		AND TICKETNUM like concat(#{ticketNum,jdbcType=VARCHAR},'%')
  </select>

    <select id="selectPersonUncheck" parameterType="map" resultMap="BaseResultMap">
        SELECT
        p.POST_NAME,
        i.APPLY_STATUS,
        sd.text schoolName,
        sd.value schoolValue,
        s.*
        FROM STUDENT_INFO s
        left join STUDENT_APPLY_INFO i on (s.ID=i.STUDENT_ID and s.EMPLOY_ITEMS_ID=i.EMPLOY_ITEMS_ID)
        left join RECRUIT_THEME t on t.ID=i.EMPLOY_ITEMS_ID
        left join RECRUIT_POSTSET p on p.ID=i.APPLY_JOB_ID
        LEFT JOIN SYS_DICTIONARY sd ON sd.id = i.APPLY_DEP_ID
        where i.APPLY_STATUS='2'
        and s.id in( select student_id from STUDENT_EDUCATION_INFO where IS_SIMILAR_TERM = '1')
        <if test="projectId !=null and projectId !='' ">
            and s.EMPLOY_ITEMS_ID=#{projectId,jdbcType=VARCHAR}
        </if>
        <if test="name !=null and name !='' ">
            and s.name like concat(concat('%',#{name,jdbcType=VARCHAR}),'%')
        </if>
        order by schoolValue,s.id
    </select>

    <select id="selectPersonChecked" parameterType="map" resultMap="BaseResultMap">
        SELECT
        p.POST_NAME,
        i.APPLY_STATUS,
        case
        when i.APPLY_STATUS = '3' then '通过'
        when i.APPLY_STATUS = '4' then '不通过'
        when i.APPLY_STATUS = '5' then '不通过'
        else '通过' end STATUS_TEXT,
        case
        when i.APPLY_STATUS = '3' then '通过'
        when i.APPLY_STATUS = '4' then '不通过'
        when i.APPLY_STATUS = '5' then '通过'
        else '通过' end photoStatus,
        sd.text schoolName,
        sd.value schoolValue,
        s.*
        FROM STUDENT_INFO s
        left join STUDENT_APPLY_INFO i on (s.ID=i.STUDENT_ID and s.EMPLOY_ITEMS_ID=i.EMPLOY_ITEMS_ID)
        left join RECRUIT_THEME t on t.ID=i.EMPLOY_ITEMS_ID
        left join RECRUIT_POSTSET p on p.ID=i.APPLY_JOB_ID
        LEFT JOIN SYS_DICTIONARY sd ON sd.id = i.APPLY_DEP_ID
        where (i.APPLY_STATUS='3' or (i.APPLY_STATUS='4' and i.AUDITTYPE='1' or i.APPLY_STATUS='5' and i.AUDITTYPE='1'))
        and s.id in( select student_id from STUDENT_EDUCATION_INFO where IS_SIMILAR_TERM = '1')
        <if test="projectId !=null and projectId !='' ">
            and s.EMPLOY_ITEMS_ID=#{projectId,jdbcType=VARCHAR}
        </if>
        <if test="name !=null and name !='' ">
            and s.name like concat(concat('%',#{name,jdbcType=VARCHAR}),'%')
        </if>
        order by schoolValue,s.id
    </select>

    <select id="selectSchoolCheckedSituation" parameterType="map" resultMap="BaseResultMap">
        SELECT p.POST_NAME,i.APPLY_STATUS,
        case
        when i.APPLY_STATUS = '4' then '退回照片'
        when i.APPLY_STATUS = '5' then '不通过'
        else '通过' end STATUS_TEXT,
        sd.text schoolName,
        sd.value schoolValue,
        s.* FROM STUDENT_INFO s
        left join STUDENT_APPLY_INFO i on (s.ID=i.STUDENT_ID and s.EMPLOY_ITEMS_ID=i.EMPLOY_ITEMS_ID)
        left join RECRUIT_THEME t on t.ID=i.EMPLOY_ITEMS_ID
        left join RECRUIT_POSTSET p on p.ID=i.APPLY_JOB_ID
        LEFT JOIN SYS_DICTIONARY sd ON sd.id = i.APPLY_DEP_ID
        where i.APPLY_STATUS in ('4','5','6','7','8','9','10','11','12','13') and i.AUDITTYPE='2'
        <if test="projectId !=null and projectId !='' ">
            and s.EMPLOY_ITEMS_ID=#{projectId,jdbcType=VARCHAR}
        </if>
        <if test="name !=null and name !='' ">
            and s.NAME like concat(concat('%',#{name,jdbcType=VARCHAR}),'%')
        </if>
        <if test="applyStatus !=null and applyStatus == 'yes' ">
            and i.APPLY_STATUS in ('6','7','8','9','10','11','12','13')
        </if>
        <if test="applyStatus !=null and applyStatus == 'no' ">
            and i.APPLY_STATUS in ('4','5')
        </if>
        order by schoolValue,s.id
    </select>

    <select id="selectSchoolInterviewSituation" parameterType="map" resultMap="BaseResultMap">
        SELECT
        si.*,
        case
        when s.remark = '0' or s.SCORE_PUBLISH_STATUS = '0' then '待审核'
        when s.remark = '1' AND s.IS_EMPLOY = '0' and s.SCORE_PUBLISH_STATUS = '1' then '不通过'
        when s.remark = '1' AND s.IS_EMPLOY = '1' AND s.SCORE_PUBLISH_STATUS = '1' then '通过'
        end STATUS_TEXT,
        s.STUDENT_ID,
        sd.text schoolName,
        sd.value schoolValue,
        rp.post_name postName,
        to_char(sysdate,'yyyy')-to_char(si.BIRTHDAY,'yyyy') age
        FROM school_grade s
        LEFT JOIN STUDENT_INFO si ON  si.id = s.STUDENT_ID
        LEFT JOIN student_apply_info sa ON si.id = sa.STUDENT_ID
        LEFT JOIN recruit_postset rp ON sa.APPLY_JOB_ID = rp.id
        LEFT JOIN SYS_DICTIONARY sd ON sd.id = sa.APPLY_DEP_ID
        WHERE s.project_id = #{projectId,jdbcType=VARCHAR}
        <if test="status !=null and status ==0 "><!--还未录成绩待审核 -->
            AND (s.remark = '0' or s.SCORE_PUBLISH_STATUS = '0')
        </if>
        <if test="status !=null and status ==1 "><!--录用 -->
            AND s.IS_EMPLOY = '1' and s.remark = '1' AND s.SCORE_PUBLISH_STATUS = '1'
        </if>
        <if test="status !=null and status ==2 "><!--未录用  前端传2不要紧，根据数据库的字段来判断就行了-->
            AND s.IS_EMPLOY = '0' and s.remark = '1' AND s.SCORE_PUBLISH_STATUS = '1'
        </if>
        <if test="name !=null and name !='' ">
            AND si.NAME like concat(concat('%',#{name,jdbcType=VARCHAR}),'%')
        </if>
        order by schoolValue,s.id
    </select>
    
    <select id="selectPersonData" parameterType="map" resultMap="BaseResultMap">
        SELECT
        si.*,
        s.STUDENT_ID,
        case
        when s.SCORE_PUBLISH_STATUS = '0' then '0'
        when s.SCORE_PUBLISH_STATUS = '1' then s.grade
        end viewGrade,
        sd.text schoolName,
        sd.value schoolValue,
        rp.post_name postName
        FROM STUDENT_INFO si
        LEFT JOIN school_grade s ON  si.id = s.STUDENT_ID
        LEFT JOIN student_apply_info sa ON si.id = sa.STUDENT_ID
        LEFT JOIN recruit_postset rp ON sa.APPLY_JOB_ID = rp.id
        LEFT JOIN SYS_DICTIONARY sd ON sd.id = sa.APPLY_DEP_ID
        WHERE si.employ_items_id = #{projectId,jdbcType=VARCHAR}
        and sa.apply_status is not null and to_number(sa.apply_status) <![CDATA[>]]> '5'
        <if test="name !=null and name !='' ">
            AND si.NAME like concat(concat('%',#{name,jdbcType=VARCHAR}),'%')
        </if>
        <if test="postId !=null and postId !='' ">
            AND sa.APPLY_JOB_ID = #{postId,jdbcType=VARCHAR}
        </if>
		order by schoolValue,s.id
    </select>
    
    <!-- 重置考生端密码 -->
    <update id="resetPasswd" parameterType="map">
    	update STUDENT_INFO
    	set 
    	password=#{encrypt,jdbcType=VARCHAR}
    	where id=#{id,jdbcType=VARCHAR}
    </update>

	<select id="selectStudentInfo" resultMap="BaseResultMap" parameterType="map">
		select 
		<include refid="Base_Column_List" />
		from STUDENT_INFO
		where 1=1
		and EMPLOY_ITEMS_ID = #{projectId,jdbcType=VARCHAR}
		<if test="name !=null and name !='' ">
            AND NAME like concat(concat('%',#{name,jdbcType=VARCHAR}),'%')
        </if>
        <if test="identityCard != null and identityCard !='' ">
            AND IDENTITY_CARD like concat(concat('%',#{identityCard,jdbcType=VARCHAR}),'%')
        </if>
	
	</select>
</mapper>