#parse("/common/head-js+css.vm")
<div class="dialog dialog-manage">
    #if($labsNum>0)
    <div class="table-content">
          <table class="table">
            <thead>
                <tr>
                    <th>考点名称</th>
                    <th>学科</th>
                    <th>数量</th>
                </tr>
            </thead>
            <tbody>
                  
                      <tr>
                	<th rowspan="${subjectSize}" style="width:200px;">${kaodian}</th> 
                </tr>
                     #foreach($data in $showMap.entrySet())
                <tr> 
                    <td>$data.key</td>
                    <td>$data.value</td>
                </tr>
                 #end
                  
            </tbody>
        </table>
    </div>
     #else
                     <div align="center">
                     <br>
                     <b><font size="3">暂无数据!</font></b>
                     </div>   
                   #end
</div>