<!DOCTYPE html>
<html lang="zh-CN">
<head>
    #parse("/common/head-meta.vm")
    <title>东莞招聘</title>
    #parse("/common/head-js+css.vm")
	<script type="text/javascript">
		$(document).ready(function () {  
			initThemeData();
			queryData();
        });
		
		function queryData() {
			var $serializeForm=$("#list_form").serialize();
			$.ajax({
                type: "POST",
                dataType: "json",
                url: '${link.contextPath}/dg/statistics/selectAllPositionVoSubject',
                data : $serializeForm,
                success: function (data) {
                    if (data) {  
                        /*获取数据总行数*/
        	            $("#totalCounts").val(data.total);
						$("#currentPage").val(data.currentPage);
                        /*如果后台筛选出的结果为0，则修改结果为1，否则生成分页标签页数会保持在筛选之前的状态*/  
                        if (parseInt($("#totalCounts").val()) == 0) {  
                        	$("#totalCounts").val(1);
                        }
						if(parseInt($("#currentPage").val()) == 0) {  
                        	$("#currentPage").val(1);
                        }
                        /*生成表和套用css样式*/  
                        data = data.rows;//获取筛选后的内容 
                        $(".table tbody tr").remove();//清空列表 
                        $.each(data, function (index, e) {
							var profession=e.profession;
							if(getLength(profession) > 40){
								profession=substr(profession,40);
							}
							var otherLimit=e.otherLimit;
							if(getLength(otherLimit) > 25){
								otherLimit=substr(otherLimit,25);
							}
							var remark=e.remark;
							if(getLength(remark) > 25){
								remark=substr(remark,25);
							}
							var insertHtml='<tr>';
									insertHtml+='<td>'+e.postName+'</td>';
									insertHtml+='<td>'+e.subject+'</td>';
									insertHtml+='<td>'+e.approveCount+'</td>';
									insertHtml+='<td>'+e.graduate+'</td>';
									insertHtml+='<td>'+e.social+'</td>';
									insertHtml+='<td>'+e.age+'</td>';
									insertHtml+='<td>'+e.education+'</td>';
									insertHtml+='<td>'+e.degree+'</td>';
									insertHtml+='<td title="'+e.profession+'">'+profession+'</td>';
									insertHtml+='<td title="'+e.otherLimit+'">'+otherLimit+'</td>';
									insertHtml+='<td>'+e.category+'</td>';
									insertHtml+='<td title="e.remark">'+remark+'</td>';
									insertHtml+='</tr>';
							$(".table tbody").append(insertHtml);//将返回的数据追加到表格
                        });
                        /*生成分页标签*/
                        paginator(parseInt($("#currentPage").val()), parseInt($("#pageSize").val()), parseInt($("#totalCounts").val()));  
                    }
                }
            }); 
        }
		
		function paginator(pageIndex, pageSize, totalCount) {
        	$.jqPaginator('#pagination', {
        		totalCounts: totalCount,
        		pageSize: pageSize,
        	    currentPage: pageIndex,
        	    visiblePages: 7,
        		first:'<a class="first">首页</a>',
        	    prev: '<a class="prev">上一页</a>',
        	    next: '<a class="next">下一页</a>',
        		last: '<a class="last：">末页</a>',
        	    page: '<a class="page">{{page}}</a>',
        	    onPageChange: function (num, type) {
        	    	if (type === 'change' && num !== parseInt($("#currentPage").val())) {  
                        $("#currentPage").val(num);//点击改变页码时，同步model中的页码  
                        queryData();//重新生成新表
                    }
        	    }
        	});
        }
		
		function initThemeData(){
			var year=$("#year").val();
			if(year){
    			$("#projectId").html("");
				$.ajax({
        			url : '${link.contextPath}/dg/information/getThemes',
        			type : 'post',
        			data:{"year":year},
        			async: false,
        			cache : false,
        			dataType : 'json',
        			success : function(data) {
        				if(data.length){
							var insertHtml="";
							$.each(data,function(index,e){
								var themeTitle=e.theme;
    							if(getLength(themeTitle) > 12){
    								themeTitle=substr(themeTitle,12);
    							}
								insertHtml+='<option value="'+e.id+'" title="'+e.theme+'">'+themeTitle+'</option>';
							});
							$("#projectId").append(insertHtml);
						}else{
							$("#projectId").append('<option value="">--请选择--</option>');
						}
    				}
        		});
			}else{
				$("#projectId").append('<option value="">--请选择--</option>');
			}
		}
		
		function exportPositionVoSubject(){
			var projectId=$("#projectId").val();
			if(!projectId){
				layer.msg("招聘项目为空无法导出Excel！", {icon: 2});	
				return;
			}
			window.location.href="${link.contextPath}/dg/statistics/exportPositionVoSubject?projectId="+projectId;
		}
    </script>
</head>
<body>
     #parse("/common/topMenu.vm")
     #parse("/common/leftTemplate.vm")
    <!-- Main内容模块 S-->
    <div class="content-wrapper">
        <!-- context内容 S-->
        <div class="content">
            <!-- table切换 S-->
            <div class="tabChange">
                <ul class="clearfix">
                    <li class="active"><a href="${link.contextPath}/dg/statistics/position" title="学科分岗位">学科分岗位</a></li>
                    <li><a href="${link.contextPath}/dg/statistics/positionUnit" title="单位分岗位">单位分岗位</a></li>
                </ul>
            </div>
            <!-- table切换 E-->
			<!-- 条件搜索 S-->
            <form class="form-inline" id="list_form">
				<input type="hidden" id="currentPage" name="currentPage" value="1"/>
				<input type="hidden" id="pageSize" name="pageSize" value="20"/>
				<input type="hidden" id="totalCounts" name="totalCounts" value="1"/>
				<div class="clearfix item-group">
                    <ul class="clearfix pull-left">
                        <li>
                            <span>年份：</span>
                            <select class="select" id="year" name="condition['year']" onchange="initThemeData();queryData();">
                                #if($!years.size()>0)
    								#foreach($!list in $!years)
        								<option value="$!list">$!list</option>
									#end
								#else
									<option value="">--请选择--</option>
								#end
                            </select>
                        </li>
                        <li>
                            <span>招聘项目：</span>
                            <select class="select" id="projectId" name="condition['projectId']" onchange="queryData();"></select>
                        </li>
                    </ul>
					<ul class="clearfix pull-right">
						<!--
						<li>
							<a onclick="checkCancel();" class="pull-right btn btn-default btn-sm" href="javascript:void(0);" title="打印预览">打印预览</a>
						</li>
						-->
						<li>
                    		<a onclick="exportPositionVoSubject();" class="pull-right btn btn-primary btn-sm" href="javascript:void(0);" title="导出Excel">导出Excel</a>
						</li>
                    </ul>
                </div>
            </form>
            <!-- 条件搜索 E-->
    		<!-- table表单模块 S-->
            <div class="table-content">
                <table class="table">
					<thead>
    					<tr>
    						<th rowspan="2" style="border-right: 1px solid #ddd;">岗位名称</th>
    						<th rowspan="2" style="border-right: 1px solid #ddd;">学科代码</th>
    						<th rowspan="2" style="border-right: 1px solid #ddd;">招聘人员</th>
    						<th colspan="2" style="border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;">招聘对象</th>
    						<th colspan="4" style="border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;">条件</th>
    						<th rowspan="2" style="border-right: 1px solid #ddd;">其他条件</th>
    						<th rowspan="2" style="border-right: 1px solid #ddd;">岗位类别</th>
    						<th rowspan="2" style="border-right: 1px solid #ddd;">备注</th>
    					</tr>
    					<tr>
    						<th>毕业生</th>
    						<th style="border-right: 1px solid #ddd;">社会人员</th>
    						<th>年龄</th>
    						<th>学历（含第一学历和最高学历）</th>
    						<th>学位</th>
    						<th style="border-right: 1px solid #ddd;">专业</th>
                        </tr>
    				</thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- table表单模块 E-->
            <!-- 分页+全选模块 S-->
            <div class="clearfix pagesBox">
                <div id="pagination" class="pull-right pages"></div>
            </div>
            <!-- 分页+全选模块 E-->
        </div>
        <!-- context内容 E-->
        #parse("/common/foot.vm")
    </div>
    <!-- Main内容模块 E-->
</body>
</html>