<!-- 公共重置CSS -->
<link href="${link.contextPath}/static/css/common.css" rel="stylesheet" type="text/css">
<link href="${link.contextPath}/static/css/student.css" rel="stylesheet">
<link href="http://at.alicdn.com/t/font_1474956227_0993266.css" rel="stylesheet" type="text/css">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="${link.contextPath}/static/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<!-- avalon (JavaScript plugins) -->
<script src="${link.contextPath}/static/js/avalon-1.5.5.shim.min.js" type="text/javascript"></script>
<!-- 项目公共JS -->
<script src="${link.contextPath}/static/js/common.js" type="text/javascript"></script>
<script src="${link.contextPath}/static/js/zh-common.js" type="text/javascript"></script>
<script src="${link.contextPath}/static/js/modernizr.js" type="text/javascript"></script>
<!--表单异步提交-->
<script src="${link.contextPath}/static/js/jquery-form.js"></script>
<!-- 97日历控件 http://www.my97.net/dp/demo/index.htm -->
<script src="${link.contextPath}/static/lib/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
<!-- 前台验证控件 http://validform.rjboy.cn/document.html -->
<script src="${link.contextPath}/static/lib/Validform_v5.3.2/js/Validform_v5.3.2.js" type="text/javascript"></script>
<!-- layui控件 http://layer.layui.com/ -->
<link href="${link.contextPath}/static//lib/layui/css/layui.css" rel="stylesheet" type="text/css">
<script src="${link.contextPath}/static/lib/layui/layui.js" type="text/javascript"></script>
<!-- 分页控件 http://jqpaginator.keenwon.com/ -->
<script src="${link.contextPath}/static/lib/jqPaginator/jqPaginator-1.2.0.min.js" type="text/javascript"></script>
<!-- 前台验证控件 http://validator.niceue.com/ -->
<script src="${link.contextPath}/static/lib/nice-validator/jquery.validator.js?local=zh-CN" type="text/javascript"></script>
<!-- 省市区控件 -->
<link href="${link.contextPath}/static/lib/city-picker/css/city-picker.css" rel="stylesheet">
<script src="${link.contextPath}/static/lib/city-picker/js/city-picker.data.js"></script>
<script src="${link.contextPath}/static/lib/city-picker/js/city-picker.js"></script>

<!-- zTree控件 begin -->
<link href="${link.contextPath}/static/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css">
<script src="${link.contextPath}/static/zTree/js/jquery.ztree.all.min.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
	});
	    	$('#formSecret').validator({
		        formClass:'n-yellow',
		        msgClass: "n-top",
		        msgArrow: '<span class="n-arrow"><b>◆</b><i>◆</i></span>'
		    });     
		    
		    function save() {
			
		    	var secretList = new Array();
			
		    	var count = 0;//至少回答一个问题
		    	$("input[name='answer']").each(
					function(){
						if ($(this).val()) {
							count ++;
						}
						
						//alert($(this).val());
						
						if ($(this).val().length > 100) {
							count = -1;
						} else {
							secretList.push({questionCode:$(this).prev().val(),questions:$(this).prev().prev().val(),answer:$(this).val()});
						}
					}
				);
				
				var jsonStr = JSON.stringify(secretList);
				console.log(count);
				
				if (count < 3 && count >= 0) {
					layer.alert('密保设置至少要回答三个问题！');
					return false;
				}
				
				if (count == -1) {
					layer.alert('回答的问题过长！');
					return false;
				}
				$.ajax({  
				    type: "POST",  
				    url: "${link.contextPath}/dg/studentApplyInfo/saveSecret",  
				    data: jsonStr,
				    dataType:"json",  
				    contentType : 'application/json;charset=utf-8', 
				    success: function(data){
				    	layer.closeAll('loading');
				    	if (data.flag == true) {
	    					layer.msg(data.msg, {
								  icon: 1,
								  time: 1000
								}, function(){
									window.top.location.reload();
									window.parent.layer.closeAll();
								});   
				    	} else {
				    		layer.alert(data.msg);
				    		return false;
				    	}

				    } 
				});  
		    }  
</script>
 <!-- 设置密保问题 S-->
    <div class="dialog dialog-encrypted">
    <form action="" method="post" id="formSecret"  accept-charset="utf-8">
        <div class="table-content">
            <table class="formTable">
                <tbody>
                  	#foreach($list in $dicMb)
                   <tr>
                        <td class="p15">
                            <p><b>$!list.text</b></p>
                            <input type="hidden" id="" name="questions" value="$list.text" />
                            <input type="hidden" id="" name="questionCode" value="$list.id" />
                            <input class="input mt10" type="text" name="answer">
                        </td>
                    </tr>
					#end
 
                </tbody>
            </table>
        </div>
        </form>
    </div>
    <!-- 设置密保问题 E-->