<!-- 公共重置CSS -->
<link href="${link.contextPath}/static/css/common.css" rel="stylesheet" type="text/css">
<link href="${link.contextPath}/static/css/student.css" rel="stylesheet">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="${link.contextPath}/static/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="${link.contextPath}/static/js/common.js" type="text/javascript"></script>
<!--表单异步提交-->
<script src="${link.contextPath}/static/js/jquery-form.js"></script>
<!-- layui控件 http://layer.layui.com/ -->
<link href="${link.contextPath}/static//lib/layui/css/layui.css" rel="stylesheet" type="text/css">
<script src="${link.contextPath}/static/lib/layui/layui.js" type="text/javascript"></script>
<!-- 前台验证控件 http://validator.niceue.com/ -->
<script src="${link.contextPath}/static/lib/nice-validator/jquery.validator.js?local=zh-CN" type="text/javascript"></script>
<!-- 项目公共JS -->
<script src="${link.contextPath}/static/js/zh-common.js"></script>
<!-- 设置密保问题 S-->
<div class="dialog dialog-encrypted" id="parentDiv">
    <form action="" method="post" id="formSecret"  accept-charset="utf-8">
        <div class="table-content" id="verifysecret">
            <table class="formTable">
                <tbody>
                #if($!{sqiList.size()} > 0)
                  	#foreach($list in $sqiList)
                   <tr>
                        <td class="p15">
                            <p><b>$!list.questions</b></p>
                            <input type="hidden" id="" name="questionCode" value="$list.questionCode" />
                            <input class="input mt10" type="text" name="answer" value="">
                        </td>
                    </tr>
					#end
				#else
				<tr>设置密保后，才能修改密码。</tr>
				#end
                </tbody>
            </table>
        </div>
    </form>
</div>
<!-- 设置密保问题 E-->