<!DOCTYPE html>
<html lang="zh-CN">
<head>
    #parse("/common/head-meta.vm")
    <title>东莞招聘</title>
    #parse("/common/head-js+css.vm")
	<script type="text/javascript">
		$(document).ready(function () {  
			initThemeData();
			queryData();
			
			$("#checkAll").click(function(){
				if($(this).is(":checked")){
					$("input[name='chk']:enabled").prop("checked", true);
				}else{
					$("input[name='chk']:enabled").prop("checked", false);
				}
			});
			
			$(document).on("click","input[name='chk']:enabled",function(){
				if($("input[name='chk']:enabled:checked").length == $("input[name='chk']:enabled").length){
					$("#checkAll").prop("checked", true);
				}else{
					$("#checkAll").prop("checked", false);
				}
    	    });
        });
		
		function queryData() {
			$("#checkAll").prop("checked", false);
			var $serializeForm=$("#list_form").serialize();
			$.ajax({
                type: "POST",
                dataType: "json",
                url: '${link.contextPath}/dg/information/selectAllInformation',
                data : $serializeForm,
                success: function (data) {
                    if (data) {  
                        /*获取数据总行数*/
        	            $("#totalCounts").val(data.total);
						$("#currentPage").val(data.currentPage);
                        /*如果后台筛选出的结果为0，则修改结果为1，否则生成分页标签页数会保持在筛选之前的状态*/  
                        if (parseInt($("#totalCounts").val()) == 0) {  
                        	$("#totalCounts").val(1);
                        }
						if(parseInt($("#currentPage").val()) == 0) {  
                        	$("#currentPage").val(1);
                        }
                        /*生成表和套用css样式*/  
                        data = data.rows;//获取筛选后的内容 
                        $(".table tbody tr").remove();//清空列表 
                        $.each(data, function (index, e) {
                        	var status="";
							switch(e.status){
								case "0" : status="未发布";break;
								case "1" : status="已发布";break;
							}
							var insertHtml='<tr ondblclick="editInfo(\''+e.id+'\',\''+e.status+'\',\''+e.projectId+'\');">';
                                    if(e.status=='1'){
    									insertHtml+='<td><label><input type="checkbox" value="'+e.id+'" disabled name="chk"/></label></td>';
									}else{
										insertHtml+='<td><label><input type="checkbox" value="'+e.id+'" name="chk"/></label></td>';
									}
									if(e.type=='1'){
    									insertHtml+='<td>'+e.postName+'</td>';
									}else{
										var theme=e.theme;
            							var themeAfter=theme;
            							if(getLength(theme) > 20){
            								themeAfter=substr(theme,20);
            							}
										insertHtml+='<td title="'+theme+'">'+themeAfter+'</td>';
									}
                              		insertHtml+='<td>'+new Date(e.startDate).format("yyyy-MM-dd hh:mm")+'</td>'+
                                                '<td>'+new Date(e.endDate).format("yyyy-MM-dd hh:mm")+'</td>'+
												'<td>'+e.site+'</td>'+
                                                '<td>'+status+'</td>';
									if(e.status=='1'){
    									insertHtml+='<td><a onclick="editInfo(\''+e.id+'\',\''+e.status+'\',\''+e.projectId+'\');" class="btn btn-default" href="javascript:void(0);" title="查看">查看</a>&nbsp;</td>';
									}else{
										insertHtml+='<td>'+
														'<a onclick="editInfo(\''+e.id+'\',\''+e.status+'\',\''+e.projectId+'\');" class="btn btn-default" href="javascript:void(0);" title="修改">修改</a>&nbsp;'+
														'<a onclick="publish(\''+e.id+'\');" class="btn btn-primary" href="javascript:void(0);" title="发布">发布</a>&nbsp;'+
													'</td>';
									}
										insertHtml+='</tr>';
							$(".table tbody").append(insertHtml);//将返回的数据追加到表格
                        });
                        /*生成分页标签*/
                        paginator(parseInt($("#currentPage").val()), parseInt($("#pageSize").val()), parseInt($("#totalCounts").val()));  
                    }
                }
            }); 
        }
		
		function paginator(pageIndex, pageSize, totalCount) {
        	$.jqPaginator('#pagination', {
        		totalCounts: totalCount,
        		pageSize: pageSize,
        	    currentPage: pageIndex,
        	    visiblePages: 7,
        		first:'<a class="first">首页</a>',
        	    prev: '<a class="prev">上一页</a>',
        	    next: '<a class="next">下一页</a>',
        		last: '<a class="last：">末页</a>',
        	    page: '<a class="page">{{page}}</a>',
        	    onPageChange: function (num, type) {
        	    	if (type === 'change' && num !== parseInt($("#currentPage").val())) {  
                        $("#currentPage").val(num);//点击改变页码时，同步model中的页码  
                        queryData();//重新生成新表
                    }
        	    }
        	});
        }
		
		function addInformation(){
			var projectId=$("#projectId").val();
			var type=$("#type").val();
			var flag=true;
			if(!projectId){
				layer.msg("请选择招聘项目后再新增单位面试信息！", {icon: 2});	
				return;
			}
			if(!type){
				layer.msg("请选择单位面试新增的招聘类型！", {icon: 2});	
				return;
			}
			if(type=='2'){//资料面试信息
				$.ajax({
        			url : '${link.contextPath}/dg/information/checkInformation',
        			type : 'post',
        			data:{"projectId":projectId},
        			async: false,
        			cache : false,
        			dataType : 'json',
        			success : function(data) {
        				if(data.length > 0){
							layer.msg("该招聘主题的现场资料信息已录入，无需再新增，请确认！", {icon: 2});
							flag=false;
							return;
						}
        			}
        		});
			}
			if(flag){
    			layer.open({
                	type: 2,
                	title:['招聘单位面试信息维护', 'font-weight:600'],
    				content:['${link.contextPath}/dg/information/gotoInformation?projectId='+projectId+'&type='+type,'yes'],
    				btn:['确定','取消'],
                	shadeClose:false,
                	fix:true,
                	area: ['650px','380px'],
                	maxWidth:474,
                	move: false,
                	yes: function(index, layero){
						var body = layer.getChildFrame('body', index);
                    	body.find("#submitBtn").click();
    				},
    				end: function(){
        		    	queryData();
        		    }
                });
			}
		}
		
		function initThemeData(){
			var year=$("#year").val();
			if(year){
    			$("#projectId").html("");
				$.ajax({
        			url : '${link.contextPath}/dg/information/getThemes',
        			type : 'post',
        			data:{"year":year},
        			async: false,
        			cache : false,
        			dataType : 'json',
        			success : function(data) {
        				if(data.length){
							var insertHtml="";
							$.each(data,function(index,e){
								var themeTitle=e.theme;
    							if(getLength(themeTitle) > 12){
    								themeTitle=substr(themeTitle,12);
    							}
								insertHtml+='<option value="'+e.id+'" title="'+e.theme+'">'+themeTitle+'</option>';
							});
							$("#projectId").append(insertHtml);
						}else{
							$("#projectId").append('<option value="">--请选择--</option>');
						}
    				}
        		});
			}else{
				$("#projectId").append('<option value="">--请选择--</option>');
			}
		}
		
		function publish(id){
			$.ajax({
    			url : '${link.contextPath}/dg/information/publishInformation',
    			type : 'post',
    			data:{"id":id},
    			async: false,
    			cache : false,
    			dataType : 'json',
				beforeSend: function(){
                    sloadindex = layer.load(0, {
                    	shade: [0.3,'#fff']
                    });
                },
    			success : function(data) {
    				layer.close(sloadindex);
					if(data.flag == 'success'){
    					alert(data.msg);
    					queryData();
    				}else{
        				layer.msg(data.msg, {icon: 2});
    				}
    			}
    		});
		}
		
		function changeType(obj){
			if(obj.value=='1'){
				$("#setColumnName").text("岗位");
			}else{
				$("#setColumnName").text("项目名称");
			}
		}
		
		function editInfo(id,status,projectId){
			var btns=['确定','取消'];
			if(status && status =='1'){
				btns=['取消'];
			}
			layer.open({
            	type: 2,
            	title:['招聘单位面试信息维护', 'font-weight:600'],
				content:['${link.contextPath}/dg/information/gotoInformation?id='+id+"&projectId="+projectId,'yes'],
				btn:btns,
            	shadeClose:false,
            	fix:true,
            	area: ['650px','380px'],
            	maxWidth:474,
            	move: false,
            	yes: function(index, layero){
					if(status && status == '0'){
                		var body = layer.getChildFrame('body', index);
                    	body.find("#submitBtn").click();
					}else{
						layer.close(index);
					}
				},
				end: function(){
    		    	queryData();
    		    }
            });
		}
		
		var sloadindex;
		function deleteInformation(){
			var $chk=$("input[name='chk']:enabled:checked");
			if(!$chk.length){
				layer.msg("请选择记录后再删除！", {icon: 2});
				return;
			}
			var $checkSerialize=$chk.serialize();
			layer.confirm('您确定要删除选中的记录吗?', {icon: 3, title:'提示'}, function(index){
				$.ajax({
        			url : '${link.contextPath}/dg/information/deleteInformation',
        			type : 'post',
        			data:$checkSerialize,
        			async: false,
        			cache : false,
        			dataType : 'json',
					beforeSend: function(){
                        sloadindex = layer.load(0, {
                        	shade: [0.3,'#fff']
                        });
                    },
        			success : function(data) {
        				layer.close(sloadindex);
						if(data.flag == 'success'){
        					alert(data.msg);
							queryData();
        				}else{
							layer.msg(data.msg, {icon: 2});
        				}
        			}
        		});
				layer.close(index);
            });
		}
    </script>
</head>
<body>
     #parse("/common/topMenu.vm")
     #parse("/common/leftTemplate.vm")
    <!-- Main内容模块 S-->
    <div class="content-wrapper">
        <!-- context内容 S-->
        <div class="content">
            <!-- 条件搜索 S-->
            <form class="form-inline" id="list_form">
				<input type="hidden" id="currentPage" name="currentPage" value="1"/>
				<input type="hidden" id="pageSize" name="pageSize" value="20"/>
				<input type="hidden" id="totalCounts" name="totalCounts" value="1"/>
				<div class="clearfix item-group">
                    <ul class="clearfix pull-left">
                        <li>
                            <span>年份：</span>
                            <select class="select" id="year" name="condition['year']" onchange="initThemeData();queryData();">
                                #if($!years.size()>0)
    								#foreach($!list in $!years)
        								<option value="$!list">$!list</option>
									#end
								#else
									<option value="">--请选择--</option>
								#end
                            </select>
                        </li>
                        <li>
                            <span>招聘项目：</span>
                            <select class="select" id="projectId" name="condition['projectId']" onchange="queryData();"></select>
                        </li>
						<li>
                            <span>类型：</span>
                            <select class="select" id="type" name="condition['type']" onchange="changeType(this);queryData();">
								<option value="1">招聘单位面试信息</option>
                                <option value="2">现场资料信息</option>
                            </select>
                        </li>
                    </ul>
					<ul class="clearfix pull-right">
                    	<li>
                    		<a onclick="addInformation();" class="pull-right btn btn-primary btn-sm" href="javascript:void(0);" title="新增">新增</a>
							<a onclick="deleteInformation();" style="margin-right:10px;" class="pull-right btn btn-default btn-sm" href="javascript:void(0);" title="删除">删除</a>
                    	</li>
                    </ul>
                </div>
            </form>
            <!-- 条件搜索 E-->
    		<!-- table表单模块 S-->
            <div class="table-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th><label><input type="checkbox" id="checkAll"/></label></th>
    						<th id="setColumnName">岗位</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>地点</th>
							<th>是否已发布</th>
							<th>操作</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- table表单模块 E-->
            <!-- 分页+全选模块 S-->
            <div class="clearfix pagesBox">
                <div id="pagination" class="pull-right pages"></div>
            </div>
            <!-- 分页+全选模块 E-->
        </div>
        <!-- context内容 E-->
        #parse("/common/foot.vm")
    </div>
    <!-- Main内容模块 E-->
</body>
</html>