<!DOCTYPE html>
<html lang="zh-CN">
<head>
    #parse("/common/head-meta.vm")
    <title>东莞招聘</title>
    #parse("/common/head-js+css.vm")
    <script type="text/javascript">
        $(document).ready(function () {
            initThemeData();
            queryData();

            $("#checkAll").click(function(){
                if($(this).is(":checked")){
                    $("input[name='chk']:enabled").prop("checked", true);
                }else{
                    $("input[name='chk']:enabled").prop("checked", false);
                }
            });

            $(document).on("click","input[name='chk']:enabled",function(){
                if($("input[name='chk']:enabled:checked").length == $("input[name='chk']:enabled").length){
                    $("#checkAll").prop("checked", true);
                }else{
                    $("#checkAll").prop("checked", false);
                }
            });
        });

        function queryData() {
			operBtn();
			$("#checkAll").attr("checked",false) ;
            var $serializeForm=$("#list_form").serialize();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '${link.contextPath}/dg/personCheck/selectPersonUncheck',
                data : $serializeForm,
                success: function (data) {
                    if (data) {
                         /*获取数据总行数*/
                        $("#totalCounts").val(data.total);
						$("#currentPage").val(data.currentPage);
                        /*如果后台筛选出的结果为0，则修改结果为1，否则生成分页标签页数会保持在筛选之前的状态*/
                        if (parseInt($("#totalCounts").val()) == 0) {
                            $("#totalCounts").val(1);
                        }
						if(parseInt($("#currentPage").val()) == 0) {  
                        	$("#currentPage").val(1);
                        }	
                        /*生成表和套用css样式*/
                        data = data.rows;//获取筛选后的内容
                        $(".table tbody tr").remove();//清空列表
                        $.each(data, function (index, e) {
                            var sex="";
                            switch(e.sex){
                                case "1" : sex="男";break;
                                case "2" : sex="女";break;
                            }
                            var insertHtml='<tr ondblclick="editInfo(\''+e.id+'\',\''+e.status+'\');">';
                            insertHtml+='<td><label><input type="checkbox" value="'+e.id+'" name="chk"/></label></td>';
                            insertHtml+='<td>'+e.name+'</td>';
                            insertHtml+='<td>'+sex+'</td>';
                            insertHtml+='<td>'+e.identityCard+'</td>';
							insertHtml+='<td>'+e.schoolName+'</td>';
                            insertHtml+='<td>'+e.postName+'</td>';
                            insertHtml+='<td><a class="btn btn-primary" onclick="autid(\''+e.id+'\',\''+e.employItemsId+'\');" href="javascript:void(0);" title="审核">审核</a></td>';
                            insertHtml+='</tr>';
                            $(".table tbody").append(insertHtml);//将返回的数据追加到表格
                        });
                        /*生成分页标签*/
                        paginator(parseInt($("#currentPage").val()), parseInt($("#pageSize").val()), parseInt($("#totalCounts").val()));
                    }
                }
            });
        }

        function paginator(pageIndex, pageSize, totalCount) {
            $.jqPaginator('#pagination', {
                totalCounts: totalCount,
                pageSize: pageSize,
                currentPage: pageIndex,
                visiblePages: 7,
                first:'<a class="first">首页</a>',
                prev: '<a class="prev">上一页</a>',
                next: '<a class="next">下一页</a>',
                last: '<a class="last：">末页</a>',
                page: '<a class="page">{{page}}</a>',
                onPageChange: function (num, type) {
                    if (type === 'change' && num !== parseInt($("#currentPage").val())) {
                        $("#currentPage").val(num);//点击改变页码时，同步model中的页码
                        queryData();//重新生成新表
                    }
                }
            });
        }

        function initThemeData(){
            var year=$("#year").val();
            if(year){
                $("#projectId").html("");
                $.ajax({
                    url : '${link.contextPath}/dg/theme/selectAllByYear',
                    type : 'post',
                    data:{"year":year},
                    async: false,
                    cache : false,
                    dataType : 'json',
                    success : function(data) {
                        if(data.length){
                            var insertHtml="";
                            $.each(data,function(index,e){
                                if(e.theme.length>20){
                                    var theme1 = e.theme.substring(0,19)+"..." ;
                                }else {
                                    var theme1 = e.theme ;
                                }
                                insertHtml+='<option value="'+e.id+'" title="'+e.theme+'">'+theme1+'</option>';
                            });
                            $("#projectId").append(insertHtml);
                        }else{
                            $("#projectId").append('<option value="">--请选择--</option>');
                        }
                    }
                });
            }else{
                $("#projectId").append('<option value="">--请选择--</option>');
            }
        }

        function autid(id,projectId){
            window.location.href="${link.contextPath}/dg/personCheck/personCheckPage?recruitId="+projectId+"&studentId="+id;
        }

        function reason(){
            layer.open({
                type: 2,
                title:['招聘单位审核原因维护', 'font-weight:600'],
                content:['${link.contextPath}/dg/auditReason/reasonList','yes'],
                btn:['取消'],
                shadeClose:false,
                fix:true,
                area: ['650px','550px'],
                maxWidth:474,
                move: false,
                yes: function(index, layero){
                    layer.close(index);
                },
                end: function(){
                    window.location.href="${link.contextPath}/dg/personCheck/personCheckIndex";
                }
            });
        }

        function checkInterview(ispass){
            var projectId=$("#projectId").val();
            var $chk=$("input[name='chk']:enabled:checked");
            var $chkSerialize=$chk.serialize();
            if(!$chk.size()){
                layer.msg("请选择记录操作！", {icon: 2});
                return;
            }
            if(!projectId){
                layer.msg("招聘主题ID为空，请稍后再试！", {icon: 2});
                return;
            }
            if(ispass =='0'){
                var auditReason=$("#auditReason").val();
                if(!auditReason){
                    layer.msg("请选择审核不通过的原因！", {icon: 2});
                    return;
                }
                layer.confirm('您确定要将选中的考生审核为不通过吗?', {icon: 3, title:'提示'}, function(index){
                    checkOper(ispass,$chkSerialize,projectId,auditReason);
                    layer.close(index);
                });
            }else{
                checkOper(ispass,$chkSerialize,projectId,"");
            }
        }

        function checkOper(ispass,chks,projectId,reason){
            var serializeVal=chks+"&ispass="+ispass+"&projectId="+projectId+"&reason="+reason;
            $.ajax({
                url : '${link.contextPath}/dg/personCheck/personCheck',
                type : 'post',
                data:serializeVal,
                async: false,
                cache : false,
                dataType : 'json',
                success : function(data) {
                    if(data.flag == 'success'){
                        alert(data.msg);
                        queryData();
                    }else{
                        layer.msg(data.msg, {icon: 2});
                    }
                }
            });
        }
		
		function operBtn(){
			var projectId=$("#projectId").val();
			$.ajax({
    			url : '${link.contextPath}/dg/planApply/getProject',
    			type : 'post',
    			data: {"projectId":projectId},
    			async: false,
    			cache : false,
    			dataType : 'json',
    			success : function(data) {
					if(data.step < 2){
						$("#auditReasonSelect").show();
						$("#checkInterview_0").show();
						$("#checkInterview_1").show();
        			}else{
						$("#auditReasonSelect").hide();
						$("#checkInterview_0").hide();
						$("#checkInterview_1").hide();
					}
				}
    		});
		}
		
		function clearData(){
			$("#conditionName").val("");
            $("#conditionName1").val("");
            queryData();
		}
		
		function searchFunc(){
            $("#conditionName1").val($("#conditionName").val());
            $("#currentPage").val("1");
            queryData();
        }
    </script>
</head>
<body>
    #parse("/common/topMenu.vm")
    #parse("/common/leftTemplate.vm")
<!-- Main内容模块 S-->
<div class="content-wrapper">
    <!-- context内容 S-->
    <div class="content">
        <!-- table切换 S-->
        <div class="tabChange">
            <ul class="clearfix">
                <li class="active"><a href="${link.contextPath}/dg/personCheck/personCheckIndex" title="未审核">未审核</a></li>
                <li><a href="${link.contextPath}/dg/personCheck/personChecked" title="已审核">已审核</a></li>
                <li><a href="${link.contextPath}/dg/personCheck/personSchoolCheck" title="学校审核情况">学校审核情况</a></li>
                <li><a href="${link.contextPath}/dg/personCheck/schoolView" title="学校面试情况">学校面试情况</a></li>
            </ul>
        </div>
        <!-- table切换 E-->
        <!-- 条件搜索 S-->
        <form class="form-inline" id="list_form">
            <input type="hidden" id="currentPage" name="currentPage" value="1"/>
            <input type="hidden" id="pageSize" name="pageSize" value="20"/>
            <input type="hidden" id="totalCounts" name="totalCounts" value="1"/>
            <div class="clearfix item-group">
                <ul class="clearfix pull-left">
                    <li>
                        <span>年份：</span>
                        <select class="select" id="year" name="condition['year']" onchange="initThemeData();queryData();">
                            #if($!years.size()>0)
    							#foreach($list in $years)
                                    <option value="$!list">$!list</option>
                                #end
							#else
									<option value="">--请选择--</option>
							#end
                        </select>
                    </li>
                    <li>
                        <span>招聘项目：</span>
                        <select class="select" id="projectId" name="condition['projectId']" onchange="queryData();"></select>
                    </li>
                    <li>
                        <span>姓名：</span>
                        <input class="input" type="text" id="conditionName">
                        <input class="input" type="hidden" id="conditionName1" name="condition['name']">
                    </li>
                    <li>
                        <a onclick="searchFunc();" class="btn btn-primary btn-sm" href="javascript:void(0);" title="查找">查找</a>
                        <a onclick="clearData();" class="btn btn-default btn-sm" href="javascript:void(0);" title="清空">清空</a>
                    </li>
                </ul>
                <ul class="clearfix pull-right">
                    <li id="auditReasonSelect" style="display:none;">
                        <select style="margin-right:10px;width:300px;" class="select" id="auditReason">
                            <option value="">--请选择--</option>
                            #foreach($!list in $!auditReasons)
								<option value="$!list.id" title="$!list.reason">
									#if($!list.reason.length()>15)
                                        $!list.reason.substring(0,15)...
                                    #else
                                        $!list.reason
                                    #end
								</option>
                            #end
                        </select>
                    </li>
					<li id="checkInterview_0" style="display:none;">
						<a onclick="checkInterview('0')" class="pull-right btn btn-danger btn-sm" href="javascript:void(0);" title="不通过">不通过</a>
					</li>
					<li id="checkInterview_1" style="display:none;">
						<a onclick="checkInterview('1')" class="pull-right btn btn-info btn-sm" href="javascript:void(0);" title="通过">通过</a>
					</li>
					<li>
                    	<a onclick="reason();" class="pull-right btn btn-primary btn-sm" href="javascript:void(0);" title="原因维护">原因维护</a>
					</li>
                </ul>
            </div>
        </form>
        <!-- 条件搜索 E-->
        <!-- table表单模块 S-->
        <div class="table-content">
            <table class="table">
                <thead>
                <tr>
                    <th><label><input type="checkbox" id="checkAll"/></label></th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>身份证号</th>
					<th>招聘单位</th>
                    <th>申请岗位</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <!-- table表单模块 E-->
        <!-- 分页+全选模块 S-->
        <div class="clearfix pagesBox">
            <div id="pagination" class="pull-right pages"></div>
        </div>
        <!-- 分页+全选模块 E-->
    </div>
    <!-- context内容 E-->
    #parse("/common/foot.vm")
</div>
<!-- Main内容模块 E-->
</body>
</html>