<!DOCTYPE html>
<html lang="zh-CN">
<head>
    #parse("/common/head-meta.vm")
    <title>东莞招聘</title>
    #parse("/common/head-js+css.vm")
    <script type="text/javascript">
        $(document).ready(function () {
			initThemeData();
            queryData();
        });

        function queryData() {
            var $serializeForm=$("#list_form").serialize();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '${link.contextPath}/dg/planApply/selectPlanForCheck',
                data : $serializeForm,
                success: function (data) {
                    if (data) {
                        /*获取数据总行数*/
                        $("#totalCounts").val(data.total);
						$("#currentPage").val(data.currentPage);
                        /*如果后台筛选出的结果为0，则修改结果为1，否则生成分页标签页数会保持在筛选之前的状态*/
                        if (parseInt($("#totalCounts").val()) == 0) {
                            $("#totalCounts").val(1);
                        }
						if(parseInt($("#currentPage").val()) == 0) {  
                        	$("#currentPage").val(1);
                        }	
                        /*生成表和套用css样式*/
                        data = data.rows;//获取筛选后的内容
                        $(".table tbody tr").remove();//清空列表
                        $.each(data, function (index, e) {
                            var isPublish="";
                            switch(e.status){
                                case "1" : isPublish="待审批";break;
                                case "2" : isPublish="已审批";break;
                                default:isPublish="待审批";
                            }
                            var insertHtml=
                                    '<tr>'+
                                    '<td>'+e.schoolCode+'</td>'+
                                    '<td>'+e.schoolName+'</td>'+
                                    '<td>'+e.remark+'</td>'+
                                    '<td>'+isPublish+'</td>';
                            var buttonHtml= "" ;
                            if(e.isNoticePub==0){
                                if(e.status=="1"){
                                    buttonHtml=
                                            '<td>'+
                                            '<a class="btn btn-default" onclick="viewPosition('+"'"+e.id+"'"+')"  title="审批">审批</a>'+
                                            '</td>'+
                                            '</tr>';
                                }if(e.status=="2"){
                                    buttonHtml=
                                            '<td>'+
                                            '<a class="btn btn-default" onclick="viewPosition('+"'"+e.id+"'"+')"  title="修改">修改</a>'+
                                            '</td>'+
                                            '</tr>';
                                }
                            }else{
                                buttonHtml=
                                        '<td>'+
                                        '<a class="btn btn-default" onclick="viewPosition('+"'"+e.id+"'"+')"  title="查看">查看</a>'+
                                        '</td>'+
                                        '</tr>';
                            }
                            $(".table tbody").append(insertHtml+buttonHtml);//将返回的数据追加到表格
                        });
                        /*生成分页标签*/
                        paginator(parseInt($("#currentPage").val()), parseInt($("#pageSize").val()), parseInt($("#totalCounts").val()));
                    }
                }
            });
        }

        function paginator(pageIndex, pageSize, totalCount) {
            $.jqPaginator('#pagination', {
                totalCounts: totalCount,
                pageSize: pageSize,
                currentPage: pageIndex,
                visiblePages: 7,
                first:'<a class="first">首页</a>',
                prev: '<a class="prev">上一页</a>',
                next: '<a class="next">下一页</a>',
                last: '<a class="last：">末页</a>',
                page: '<a class="page">{{page}}</a>',
                onPageChange: function (num, type) {
                    if (type === 'change' && num !== parseInt($("#currentPage").val())) {
                        $("#currentPage").val(num);//点击改变页码时，同步model中的页码
                        queryData();//重新生成新表
                    }
                }
            });
        }

        var vm ;
        $(function(){
            vm = avalon.define({
                $id: "search",
                year: "",
                yearlist:[],
                themeId: "",
                themelist: [],
				isnull:'false',
                themeChange:function(e){
                    queryData();
                },
                yearChange:function(e){
                    vm.year = e ;
                    loadThemelist(vm.year) ;
                },
                selectYears:function(e){
                    $.ajax({
                        type: 'post',
                        url: '${link.contextPath}/dg/theme/selectYears',
                        dataType: "json",
                        timeout: 10000,
                        success: function(data) {
                            vm.yearlist=data;
                            if(data.length>0){
                                vm.year=vm.yearlist[0];
                            }else{
                                vm.year="";
								vm.isnull='true';
                            }
                        }
                    });
                }
            })

            vm.selectYears() ;
        })



        function loadThemelist(year){
            $.ajax({
                type: 'post',
                url: '${link.contextPath}/dg/theme/selectAllByYear',
                dataType: "json",
                data: {year:year},
                timeout: 10000,
                success: function(data) {
                    vm.themelist=data;
                    if(data.length>0){
                        vm.themeId=vm.themelist[0].id;
                    }else{
                        vm.themeId="";
                    }
                }
            });
        }

        function viewPosition(planApplyId){
            window.location.href="${link.contextPath}/dg/planApply/checkPage?planApplyId="+planApplyId;
        }
		
		function initThemeData(){
            var year=$("#year").val();
            if(year){
                $("#projectId").html("");
                $.ajax({
                    url : '${link.contextPath}/dg/theme/selectAllByYear',
                    type : 'post',
                    data:{"year":year},
                    async: false,
                    cache : false,
                    dataType : 'json',
                    success : function(data) {
                        if(data.length){
                            var insertHtml="";
                            $.each(data,function(index,e){
                                if(e.theme.length>20){
                                    var theme1 = e.theme.substring(0,19)+"..." ;
                                }else {
                                    var theme1 = e.theme ;
                                }
                                insertHtml+='<option value="'+e.id+'" title="'+e.theme+'">'+theme1+'</option>';
                            });
                            $("#projectId").append(insertHtml);
                        }else{
                            $("#projectId").append('<option value="">--请选择--</option>');
                        }
                    }
                });
            }else{
                $("#projectId").append('<option value="">--请选择--</option>');
            }
        }
		
		function searchFunc(){
            $("#currentPage").val("1");
            queryData();
        }

    </script>
</head>
<body>
    #parse("/common/topMenu.vm")
    #parse("/common/leftTemplate.vm")
<!-- Main内容模块 S-->
<div class="content-wrapper">
    <!-- context内容 S-->
    <div class="content">
        <!-- 条件搜索 S-->
        <form class="form-inline" id="list_form">
            <input type="hidden" id="currentPage" name="currentPage" value="1"/>
            <input type="hidden" id="pageSize" name="pageSize" value="20"/>
            <input type="hidden" id="totalCounts" name="totalCounts" value="1"/>
            <div class="clearfix item-group">
                <ul class="clearfix pull-left">
                    <li>
                        <span>招聘年份：</span>
                        <select class="select" id="year" name="condition['year']" onchange="initThemeData();queryData();">
                            #if($!years.size()>0)
    							#foreach($list in $years)
                                    <option value="$!list">$!list</option>
                                #end
							#else
									<option value="">--请选择--</option>
							#end
                        </select>
                    </li>
                     <li>
                        <span>主题名称：</span>
                        <select class="select" id="projectId" name="condition['projectId']" onchange="queryData();"></select>
                    </li>
                </ul>
            </div>
        </form>
        <!-- 条件搜索 E-->
        <!-- table表单模块 S-->
        <div class="table-content">
            <table class="table">
                <thead>
                    <tr>
                        <th>上报单位代码</th>
                        <th>上报单位</th>
                        <th>上报时间</th>
                        <th>状态</th>
                        <th>审批</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <!-- table表单模块 E-->
        <!-- 分页+全选模块 S-->
        <div class="clearfix pagesBox">
            <div id="pagination" class="pull-right pages"></div>
        </div>
        <!-- 分页+全选模块 E-->
    </div>
    <!-- context内容 E-->

    <!-- footer S-->
    <div class="page-footer">
        <div class="page-footer-inner">
            2016 © Metronic by keenthemes.
        </div>
    </div>
    <!-- footer E-->
</div>
<!-- Main内容模块 E-->
</body>
</html>