<!DOCTYPE html>
<html lang="zh-CN">
<head>
    #parse("/common/head-meta.vm")
    <title>东莞招聘</title>
    #parse("/common/head-js+css.vm")
	<script type="text/javascript">
		$(document).ready(function () {  
			initThemeData();
			queryData();
        });
		   
		function queryData() {
			$("#checkAll").attr("checked",false) ;
            var $serializeForm=$("#list_form").serialize();
            var typeid=$("#typeid").val();
    		if(typeid=='2'){
    			$('[lecture=lecture]').hide() ;
				url='${link.contextPath}/dg/personCheck/personWrittenScore';
    		}else if(typeid=='3'){
    			$('[lecture=lecture]').show() ;
				url='${link.contextPath}/dg/personCheck/personLectureScore';
    		}
            $.ajax({
                type: "POST",
                dataType: "json",
                url: url,
                data : $serializeForm,
                success: function (data) {
                    if (data) {
                         /*获取数据总行数*/
                        $("#totalCounts").val(data.total);
						$("#currentPage").val(data.currentPage);
                        /*如果后台筛选出的结果为0，则修改结果为1，否则生成分页标签页数会保持在筛选之前的状态*/
                        if (parseInt($("#totalCounts").val()) == 0) {
                            $("#totalCounts").val(1);
                        }
						if(parseInt($("#currentPage").val()) == 0) {  
                        	$("#currentPage").val(1);
                        }	
                        /*生成表和套用css样式*/
                        notice = data.notice ;
                        data = data.rows;//获取筛选后的内容
                        $(".table tbody tr").remove();//清空列表
                        $.each(data, function (index, e) {
                            var sex="";
                            switch(e.sex){
                                case "1" : sex="男";break;
                                case "2" : sex="女";break;
                            }
                            if(typeid=='2'){
	                            var insertHtml='<tr>';
	                            insertHtml+='<td>'+e.studentName+'</td>';
	                            insertHtml+='<td>'+e.idCard+'</td>';
	                            insertHtml+='<td>'+e.phone+'</td>';
	                            insertHtml+='<td>'+e.postName+'</td>';
	                            insertHtml+='<td>'+e.school+'</td>';
	                            insertHtml+='<td>'+e.writtenTime+'</td>';
	                            if(notice.writtenScorePublish==1){
                                    insertHtml+='<td>'+e.score+'</td>';
                                }else{
                                    insertHtml+='<td>0</td>';
                                }
	                            insertHtml+='</tr>';
	                        }else if(typeid=='3'){
	                        	var scyscore="";
            					switch(e.scyscore){
            						case null : scyscore="0";break;
            						case undefined : scyscore="0";break;
									case "" : scyscore="0";break;
            						default:scyscore=e.scyscore;
            					}
	                        	var insertHtml='<tr>';
	                        	insertHtml+='<td>'+e.studentName+'</td>';
                                insertHtml+='<td>'+e.idCard+'</td>';
                                insertHtml+='<td>'+e.phone+'</td>';
                                insertHtml+='<td>'+e.postName+'</td>';
                                insertHtml+='<td>'+e.school+'</td>';
                                insertHtml+='<td>'+e.lectureTime+'</td>';
                                if(notice.writtenScorePublish==1) {
                                    insertHtml += '<td>' + e.score + '</td>';
                                }else{
                                    insertHtml += '<td>0</td>';
                                }
                                if(notice.lectureScorePublishArt==1&&notice.lectureScorePublishNor==1) {
                                    insertHtml += '<td>' + e.offer + '</td>';
                                    insertHtml += '<td>' + scyscore + '</td>';
                                }else{
                                    insertHtml += '<td>0</td>';
                                    insertHtml += '<td>0</td>';
                                }
								insertHtml+='</tr>';
	                        }    
                            $(".table tbody").append(insertHtml);//将返回的数据追加到表格
                        });
                        /*生成分页标签*/
                        paginator(parseInt($("#currentPage").val()), parseInt($("#pageSize").val()), parseInt($("#totalCounts").val()));
                    }
                }
            });
        }

        function paginator(pageIndex, pageSize, totalCount) {
            $.jqPaginator('#pagination', {
                totalCounts: totalCount,
                pageSize: pageSize,
                currentPage: pageIndex,
                visiblePages: 7,
                first:'<a class="first">首页</a>',
                prev: '<a class="prev">上一页</a>',
                next: '<a class="next">下一页</a>',
                last: '<a class="last：">末页</a>',
                page: '<a class="page">{{page}}</a>',
                onPageChange: function (num, type) {
                    if (type === 'change' && num !== parseInt($("#currentPage").val())) {
                        $("#currentPage").val(num);//点击改变页码时，同步model中的页码
                        queryData();//重新生成新表
                    }
                }
            });
        }
		
		
		function initThemeData(){
            var year=$("#year").val();
            if(year){
                $("#projectId").html("");
                $.ajax({
                    url : '${link.contextPath}/dg/theme/selectAllByYear',
                    type : 'post',
                    data:{"year":year},
                    async: false,
                    cache : false,
                    dataType : 'json',
                    success : function(data) {
                        if(data.length){
                            var insertHtml="";
                            $.each(data,function(index,e){
                                if(e.theme.length>20){
                                    var theme1 = e.theme.substring(0,19)+"..." ;
                                }else {
                                    var theme1 = e.theme ;
                                }
                                insertHtml+='<option value="'+e.id+'" title="'+e.theme+'">'+theme1+'</option>';
                            });
                            $("#projectId").append(insertHtml);
                        }else{
                            $("#projectId").append('<option value="">--请选择--</option>');
                        }
                    }
                });
            }else{
                $("#projectId").append('<option value="">--请选择--</option>');
            }
        }
    	
    	function exportExcle(){
    		var project = $("#projectId").val() ;
			var typeid=$("#typeid").val();
    		if(typeid=='2'){
				url='${link.contextPath}/dg/personCheck/exportPersonWrittenScore?projectId='+project;
    		}else if(typeid=='3'){
				url='${link.contextPath}/dg/personCheck/exportPersonLectureScore?projectId='+project;
    		}
    		window.location.href=url;
    	}
	
		
    </script>
</head>
<body>
	 #parse("/common/topMenu.vm")
     #parse("/common/leftTemplate.vm")
   <!-- Main内容模块 S-->
    <div class="content-wrapper">
        <!-- context内容 S-->
        <div class="content">
            <!-- 条件搜索 S-->

             <form class="form-inline" id="list_form" onsubmit="return false;">
				<input type="hidden" id="currentPage" name="currentPage" value="1"/>
				<input type="hidden" id="pageSize" name="pageSize" value="20"/>
				<input type="hidden" id="totalCounts" name="totalCounts" value="1"/>
                <div class="clearfix item-group">
                    <ul class="clearfix pull-left">
                        <li>
                            <span>年份：</span>
                           	<select class="select" id="year" name="condition['year']" onchange="initThemeData();queryData();">
	                            #if($!years.size()>0)
	    							#foreach($list in $years)
	                                    <option value="$!list">$!list</option>
	                                #end
								#else
										<option value="">--请选择--</option>
								#end	
                        	</select>
                        </li>
                        <li>
                        <li>
	                        <span>招聘项目：</span>
	                        <select class="select" id="projectId" name="condition['projectId']" onchange="queryData();"></select>
                    	</li>
                        </li>
                        <li>
                            <span>类型：</span>
                            <select class="select" id="typeid" onchange="queryData();">
								<option value="2">笔试</option>
								<option value="3">试讲</option>
                            </select>
                        </li>
						 <li>
							<a href="javascript:void(0);" class="btn btn-default btn-sm" onclick="exportExcle();">导出</a>
						 </li>
                    </ul>
                    
                </div>
 </form>           
            <!-- 条件搜索 E-->
    		<!-- table表单模块 S-->
            <div class="table-content">
                <table class="table">
                    <thead>
                        <tr>
		                    <th>姓名</th>
		                    <th>身份证号</th>
		                    <th>电话</th>
		                    <th>申请岗位</th>
		                    <th>招聘单位</th>
		                    <th>考试时间</th>
		                    <th>笔试成绩</th>
		                    <th lecture='lecture'>试讲成绩</th>
		                    <th lecture='lecture'>综合成绩</th>
                		</tr>
                    </thead>
                    <tbody id="tabinput">
                    </tbody>
                </table>
            </div>
            <!-- table表单模块 E-->
	        <!-- 分页+全选模块 S-->
	        <div class="clearfix pagesBox">
	            <div id="pagination" class="pull-right pages"></div>
	        </div>
            <!-- 分页+全选模块 E-->
    	</div>
    	<!-- context内容 E-->

    	<!-- footer S-->
		<div class="page-footer">
		    <div class="page-footer-inner">
		        2016 © Metronic by keenthemes.
		    </div>
		</div>
		<!-- footer E-->
    </div>
    <!-- Main内容模块 E-->
</body>
</html>