<!DOCTYPE html>
<html lang="zh-CN">
<head>
    #parse("/common/head-meta.vm")
    <title>东莞招聘</title>
    #parse("/common/head-js+css.vm")
    <script type="text/javascript">
       /* $(document).ready(function () {
            queryData();
        });
*/
        $(function(){
            queryData();
        })

        function queryData() {
            var $serializeForm=$("#list_form").serialize();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '${link.contextPath}/dg/theme/dataGrid',
                data : $serializeForm,
                success: function (data) {
                    if (data) {
                       /*获取数据总行数*/
                        $("#totalCounts").val(data.total);
						$("#currentPage").val(data.currentPage);
                        /*如果后台筛选出的结果为0，则修改结果为1，否则生成分页标签页数会保持在筛选之前的状态*/
                        if (parseInt($("#totalCounts").val()) == 0) {
                            $("#totalCounts").val(1);
                        }
						if(parseInt($("#currentPage").val()) == 0) {  
                        	$("#currentPage").val(1);
                        }	
                        /*生成表和套用css样式*/
                        data = data.rows;//获取筛选后的内容
                        $(".table tbody tr").remove();//清空列表
                        $.each(data, function (index, e) {
                            var status="";
                            switch(e.status){
                                case 0 : status="未发布";break;
                                case 1 : status="已发布";break;
                                default:status="未发布";
                            }
                            if(e.theme.length>20){
                                var theme = e.theme.substring(0,19)+"..." ;
                            }else {
                                var theme = e.theme ;
                            }
                            var insertHtml='<tr>'+
                                    '<td title="'+e.theme+'">'+theme+'</td>'+
                                    '<td>'+new Date(e.reportEndTime).format("yyyy-MM-dd hh:mm")+'</td>'+
                                    '<td><span class="ellipsis grid-150" title="'+e.content+'">'+e.content+'</span></td>'+
                                    '<td><span class="ellipsis grid-150" title="'+e.eduNames+'">'+e.eduNames+'</span></td>'+
                                    '<td>'+status+'</td>' ;
                            var buttonHtml = "" ;
                            if(e.status==0){
                                buttonHtml =
                                        '<td>'+
                                        '<a class="btn btn-default" href="javascript:void(0);" onclick="edit('+"'"+e.id+"'"+');" title="修改">修改</a>&nbsp;'+
                                        '<a class="btn btn-warning" href="javascript:void(0);" onclick="deleteTheme('+"'"+e.id+"'"+');" title="删除">删除</a>&nbsp;'+
                                        '<a class="btn btn-success" href="javascript:void(0);" onclick="publish('+"'"+e.id+"'"+');" title="发布">发布</a>&nbsp;'+
                                        '</td>'+
                                        '</tr>';
                            }else{
                                 buttonHtml =
                                        '<td>'+
                                        '<a class="btn btn-info" href="javascript:void(0);" onclick="view('+"'"+e.id+"'"+');" title="查看">查看</a>'+
                                        '</td>'+
                                        '</tr>';
                            }
                            $(".table tbody").append(insertHtml+buttonHtml);//将返回的数据追加到表格
                        });
                        /*生成分页标签*/
                        paginator(parseInt($("#currentPage").val()), parseInt($("#pageSize").val()), parseInt($("#totalCounts").val()));
                    }
                }
            });
        }

        function paginator(pageIndex, pageSize, totalCount) {
            $.jqPaginator('#pagination', {
                totalCounts: totalCount,
                pageSize: pageSize,
                currentPage: pageIndex,
                visiblePages: 7,
                first:'<a class="first">首页</a>',
                prev: '<a class="prev">上一页</a>',
                next: '<a class="next">下一页</a>',
                last: '<a class="last：">末页</a>',
                page: '<a class="page">{{page}}</a>',
                onPageChange: function (num, type) {
                    if (type === 'change' && num !== parseInt($("#currentPage").val())) {
                        $("#currentPage").val(num);//点击改变页码时，同步model中的页码
                        queryData();//重新生成新表
                    }
                }
            });
        }

        /*修改*/
        function edit(id){
            window.location.href="${link.contextPath}/dg/theme/editPage?id="+id ;
        }

       /*修改*/
       function view(id){
           window.location.href="${link.contextPath}/dg/theme/viewPage?id="+id ;
       }

        /*发布*/
        function publish(id){
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '${link.contextPath}/dg/theme/publish',
                data : {id:id},
                success: function (data) {
                    if(data.success){
                        queryData();
                    }
                    layer.msg(data.msg, {icon: 1});
                }
            })
        }
        
        function deleteTheme(id) {
           $.ajax({
               type: "POST",
               dataType: "json",
               url: '${link.contextPath}/dg/theme/delete',
               data : {id:id},
               success: function (data) {
                   if(data.success){
                       queryData();
                   }
                   layer.msg(data.msg, {icon: 1});
               }
           })
        }

       function clearSearch(){
           $("#theme").val("");
           $("#theme1").val("");
           queryData() ;
       }
	   
	   function searchFunc(){
           $("#theme1").val($("#theme").val());
            $("#currentPage").val("1");
            queryData();
       }
    </script>
</head>
<body>
    #parse("/common/topMenu.vm")
    #parse("/common/leftTemplate.vm")
<!-- Main内容模块 S-->
<div class="content-wrapper">
    <!-- context内容 S-->
    <div class="content">
        <!-- 条件搜索 S-->
        <form class="form-inline" id="list_form">
            <input type="hidden" id="currentPage" name="currentPage" value="1"/>
            <input type="hidden" id="pageSize" name="pageSize" value="20"/>
            <input type="hidden" id="totalCounts" name="totalCounts" value="1"/>
            <div class="clearfix item-group">
                <ul class="clearfix pull-left">
                    <li>
                        <span>年份：</span>
                        <select class="select" value="year" name="year" onclick="queryData();">
                            #if($!years.size()>0)
    							#foreach($list in $years)
                                    <option value="$!list">$!list</option>
                                #end
							#else
									<option value="">--请选择--</option>
							#end	
                        </select>
                    </li>
                    <li>
                        <span>主题名称：</span>
                        <input id="theme" class="input" type="text" placeholder="请输入">
                        <input id="theme1" class="input" type="hidden" name="theme" placeholder="请输入">
                    </li>
                    <li>
                        <a onclick="searchFunc();" class="btn btn-primary btn-sm" href="javascript:void(0);" title="查找">查找</a>
                        <a onclick="clearSearch();" class="btn btn-primary btn-sm" href="javascript:void(0);" title="清空">清空</a>
                    </li>
                </ul>
                <ul class="clearfix pull-right">
                    <li>
                        <a class="pull-right btn btn-primary btn-sm" href="${link.contextPath}/dg/theme/addPage" title="新增招聘主题">新增</a>
                    </li>
                </ul>
            </div>
        </form>
        <!-- 条件搜索 E-->
        <!-- table表单模块 S-->
        <div class="table-content">
            <table class="table">
                <thead>
                    <tr>
                        <th>招聘主题</th>
                        <th>上报截止时间</th>
                        <th>详细内容</th>
                        <th>岗位计划上报单位</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    #*js填充内容*#
                </tbody>
            </table>
        </div>
        <!-- table表单模块 E-->
        <!-- 分页+全选模块 S-->
        <div class="clearfix pagesBox">
            <div id="pagination" class="pull-right pages"></div>
        </div>
        <!-- 分页+全选模块 E-->
    </div>
    <!-- context内容 E-->

    <!-- footer S-->
    <div class="page-footer">
        <div class="page-footer-inner">
            2016 © Metronic by keenthemes.
        </div>
    </div>
    <!-- footer E-->
</div>
<!-- Main内容模块 E-->
</body>
</html>