<!DOCTYPE html>
<html lang="zh-CN">
<head>
#parse("/common/head-meta.vm")
<title>东莞招聘</title> #parse("/common/head-js+css.vm")
<script type="text/javascript">
	function addPosition(){
		layer.open({
        	type: 2,
        	title:['招聘岗位信息(教育局设置岗位限制条件不能修改,年龄限制只能由教育局端设置)', 'font-weight:600'],
        	content:['${link.contextPath}/dg/position/addposition?themeId=$themeId&planApplyId=$planApplyId&flag=add','yes'],
        	btn:['确定','取消'],
            yes:function(index,layero){
                var body = layer.getChildFrame('body', index);
                body.find("#submitBtn").click();
            },
            shadeClose:false,
        	fix:true,
        	area: ['900px','750px'],
        	maxWidth:474,
        	move: false,
        	end: function(){
		    	window.location.reload();
		    }
        });
	}
	
	function del(id){
		layer.confirm('确定要删除添加的岗位信息？', {
        	btn: ['确定','取消']
        }, function(){
        	$.ajax({
    			url : '${link.contextPath}/dg/position/delPosition',
    			type : 'post',
    			async: false,
    			cache : false,
    			data:{"id":id},
    			dataType : 'json',
    			success : function(data) {
					alert(data.msg);
					if(data.flag=='success'){
						window.location.reload();
    				}
    			}
    		});
        });
	}
	
	function edit(id){
		layer.open({
        	type: 2,
        	title:['招聘岗位信息(教育局设置岗位限制条件不能修改,年龄限制只能由教育局端设置)', 'font-weight:600'],
        	content:['${link.contextPath}/dg/position/addposition?themeId=$themeId&planApplyId=$planApplyId&id='+id+'&flag=edit','yes'],
        	shadeClose:false,
        	fix:true,
        	area: ['900px','750px'],
        	maxWidth:474,
        	move: false,
			btn:['确定','取消'],
            yes:function(index,layero){
                var body = layer.getChildFrame('body', index);
                body.find("#submitBtn").click();
            },
        	end: function(){
		    	window.location.reload();
		    }
        });
	}
	
	var sloadindex;
	function postReport(planApplyId){
		$.ajax({
			url : '${link.contextPath}/dg/planApply/postReport',
			type : 'post',
			data:{"planApplyId":planApplyId},
			async: false,
			cache : false,
			dataType : 'json',
			beforeSend: function(){
                sloadindex = layer.load(0, {
                	shade: [0.3,'#fff']
                });
            },
			success : function(data) {
				if(data.flag == 'success'){
					alert(data.msg);
					window.location.href="${link.contextPath}/dg/planApply/planApplyList";				
				}else{
    				layer.close(sloadindex);
					layer.msg(data.msg, {icon: 2});
				}
			}
		});
	}
</script>
</head>
<body>
	#parse("/common/topMenu.vm")
	#parse("/common/leftTemplate.vm")
	<!-- Main内容模块 S-->
	<div class="content-wrapper">
		<!-- context内容 S-->
    	<div class="content">
            <!-- table表单模块 S-->
            <div class="table-content">
				<dl class="formTable">
					<dt class="clearfix">
						<span title="$!PlanApply.themeApply.theme">招聘主题：
    		              #if($!PlanApply.themeApply.theme.length() > 70)
                            $!PlanApply.themeApply.theme.substring(0,70)...
                          #else
                            $!PlanApply.themeApply.theme
                          #end
		                </span>
            		</dt>
					<dt class="clearfix">
						#if($!flag == 'update' )
							<a onclick="addPosition();" class="pull-right btn btn-primary btn-sm" href="javascript:void(0);" title="添加岗位">添加岗位</a>
						#end
						招聘岗位信息（上报截止日期：$!date.format('yyyy-MM-dd HH:mm',$!PlanApply.themeApply.reportEndTime)）
            		</dt>
            		#foreach($!list in $!positions)
						<dd>
                			<table class="formTable">
                    			<tbody>
                    				<tr>
                    					<th class="text-right" width="10%">岗位名称：</th>
    		                    		<td width="20%">$!list.postName</td>
    		                    		<th class="text-right" width="10%">科目名称：</th>
    		                    		<td>$!list.subjectText</td>
										#if($!flag == 'update' )
    										<td rowspan="7" class="text-center" width="10%">
    											<a class="btn btn-primary" onclick="edit('$list.id');" href="javascript:void(0);" title="编辑">编辑</a>
    											<a class="btn btn-default" onclick="del('$list.id');" href="javascript:void(0);" title="删除">删除</a>
    										</td>
										#end
                    				</tr>
                    				<tr>
                    					<th class="text-right">科目课时：</th>
    		                    		<td width="20%">$!list.subjectHour</td>
    		                    		<th class="text-right">本岗位应设人数：</th>
    		                    		<td>$!list.subjectCount</td>
                    				</tr>
                    				<tr>
                    					<th class="text-right">本岗位现有人数：</th>
    		                    		<td width="20%">$!list.subjectCurrentCount</td>
    		                    		<th class="text-right">本岗位空缺人数：</th>
    		                    		<td>$!list.subjectVacancyCount</td>
                    				</tr>
                    				<tr>
                    					<th class="text-right">本岗位计划招聘人数：</th>
    		                    		<td width="20%">$!list.subjectPlanCount</td>
    		                    		<th class="text-right">本岗位实际招聘人数：</th>
    		                    		<td>$!list.subjectApproveCount</td>
                    				</tr>
                    				<tr>
                    					<th class="text-right">岗位备注说明：</th>
    		                    		<td colspan="3">
                                            #if($!list.remark.length()>100)
                                                $!list.remark.substring(0,100) ...
                                            #else
                                                $!list.remark
                                            #end
										</td>
                    				</tr>
                    				<tr>
                    					<th class="text-right">学校其他限制条件：</th>
    		                    		<td colspan="3">
                                            #if($!list.otherLimit.length()>100)
                                                $!list.otherLimit.substring(0,100) ...
                                            #else
                                                $!list.otherLimit
                                            #end
										</td>
                    				</tr>
                    				<tr>
                    					<th class="text-right">岗位限制条件：</th>
    		                    		<td colspan="3">
											#if($!list.isLimitAge == '1')
												年龄：$!list.limitAge岁 #if($!list.limitAgeConditition == '>=')及以上; #else 及以下 ;#end
											#end
											#if($!list.isLimitEducation == '1')
												学历：$!list.limitEducationText #if($!list.limitEducationConditition == '>=')及以上; #else 及以下; #end
											#end
											#if($!list.isLimitEdu == '1')
												教育类型：$!list.limitEduText #if($!list.limitEduConditition == '>=')及以上; #else 及以下; #end
											#end
											#if($!list.isLimitDegree == '1')
												学位：$!list.limitDegreeText #if($!list.limitDegreeConditition == '>=')及以上; #else 及以下; #end
											#end
											#if($!list.isLimitProfession == '1')
    											专业：
												#foreach($!item in $!list.positionDomains)
													$!item.domainName
												#end
												;
											#end
											#if($!list.isLimitRecruit == '1')
												招聘对象：
												#if($!list.limitRecruit != '0')
    												$!list.limitRecruitText;
												#elseif($!list.limitRecruit == '0')
													全部
												#end
											#end
											#if($!list.isEducationStudent == '1')
												要求东莞生源免费师范生;
											#end
											<!--
											#if($!list.remark)
												岗位备注说明：
                                                #if($!list.remark.length()>30)
                                                    $!list.remark.substring(0,30) ...;
                                                #else
                                                    $!list.remark;
                                                #end
											#end
											#if($!list.otherLimit)
												学校其他限制条件：
                                                #if($!list.otherLimit.length()>30)
                                                    $!list.otherLimit.substring(0,30) ...;
                                                #else
                                                    $!list.otherLimit;
                                                #end
											#end
											-->
										</td>
                    				</tr>
                    			</tbody>
                    		</table>
                		</dd>
					#end
            	</dl>
            </div>
            <!-- table表单模块 E-->
            <!-- 操作按钮 S-->
            <div class="text-center pagesBox">
                #if($!flag == 'update' )
					<button class="btn btn-primary btn-sm" type="button" onclick="postReport('$!planApplyId');">上报</button>
				#end
                <button class="btn btn-default btn-sm" type="button" onclick="window.history.go(-1);">返回</button>
            </div>
            <!-- 操作按钮 E-->
    	</div>
    	<!-- context内容 E-->
		#parse("/common/foot.vm")
	</div>
	<!-- Main内容模块 E-->
</body>
</html>